mixin c-category
    .c-category
        ul
            li
                input(type='checkbox')
                label.c-categoryLayer1 カテゴリA
                ul
                    li
                        input(type='checkbox')
                        label.c-categoryLayer2 カテゴリA-a
                    li
                        input(type='checkbox')
                        label.c-categoryLayer2 カテゴリA-b
                    li
                        input(type='checkbox')
                        label.c-categoryLayer2 カテゴリA-c
                        ul
                            li
                                input(type='checkbox')
                                label.c-categoryLayer3 カテゴリA-c-1
                            li
                                input(type='checkbox')
                                label.c-categoryLayer3 カテゴリA-c-2
                                ul
                                    li
                                        input(type='checkbox')
                                        label.c-categoryLayer3 カテゴリA-c-2-1
                                    li
                                        input(type='checkbox')
                                        label.c-categoryLayer3 カテゴリA-c-2-2
        ul
            li
                input(type='checkbox')
                label.c-categoryLayer1 カテゴリB
        ul
            li
                input(type='checkbox')
                label.c-categoryLayer1 カテゴリC