mixin c-category
    .c-category
        ul
            li.is-active
                label.c-categoryLayer1 カテゴリA
                ul
                    li
                        label カテゴリA-a
                    li
                        label カテゴリA-b
                    li
                        label カテゴリA-c
                        ul
                            li
                                label カテゴリA-c-1
                            li
                                label カテゴリA-c-2
        ul.is-active
            li
                label カテゴリB
                ul
                    li
                        label カテゴリB-a
                    li
                        label カテゴリB-b
                    li
                        label カテゴリB-c
        ul
            li
                label カテゴリC

mixin c-categoryRegister
    .c-category--register
        ul
            li
                input(type='checkbox')
                label.c-categoryLayer1 カテゴリA
                ul
                    li
                        input(type='checkbox')
                        label.c-categoryLayer2 カテゴリA-a
                    li
                        input(type='checkbox')
                        label.c-categoryLayer2 カテゴリA-b
                    li
                        input(type='checkbox')
                        label.c-categoryLayer2 カテゴリA-c
                        ul
                            li
                                input(type='checkbox')
                                label.c-categoryLayer3 カテゴリA-c-1
                            li
                                input(type='checkbox')
                                label.c-categoryLayer3 カテゴリA-c-2
                                ul
                                    li
                                        input(type='checkbox')
                                        label.c-categoryLayer3 カテゴリA-c-2-1
                                    li
                                        input(type='checkbox')
                                        label.c-categoryLayer3 カテゴリA-c-2-2
        ul
            li
                input(type='checkbox')
                label.c-categoryLayer1 カテゴリB
        ul
            li
                input(type='checkbox')
                label.c-categoryLayer1 カテゴリC