mixin c-headerBar
    .c-headerBar
        img.c-headerBar__logo(src="")
        a.c-headerBar__toggleBtn
            i.fa.fa-bars(aria-hidden="true")
        a.c-headerBar__shopTitle
            span EC-CUBE SHOP
            i.fa.fa-angle-right(aria-hidden="true")
        .c-headerBar__userMenu
            i.fa.fa-user-circle(aria-hidden="true")
            span 管理者
            i.fa.fa-angle-down(aria-hidden="true")