mixin c-headerBar
    +b.HEADER.c-headerBar
        +e.container
            +e.logo
                h1
                    img(src="/img/logo@2x.png")
            +e.A.toggleBtn
                i.fa.fa-bars(aria-hidden="true")
            +e.A.shopTitle(href="")
                span EC-CUBE SHOP
                i.fa.fa-angle-right(aria-hidden="true")
            +e.A.userMenu(data-container="body", data-toggle="popover" data-placement="bottom", title="最終ログイン", data-content="<p>2017/12/18 12:18</p><a href='/admin/passwordChange' class='btn btn-ec-regular btn-block'>パスワード変更</a><a href='/admin/login' class='btn btn-light btn-block'>ログアウト</a>" , data-html="true")
                i.fa.fa-user-circle(aria-hidden="true")
                span 管理者 様
                i.fa.fa-angle-down(aria-hidden="true")