mixin c-mainNavArea
    +b.c-mainNavArea
        nav
            +e.UL.nav
                +e.LI.navItem
                    +e.A.navItemTitle(href="/")
                        i.fa.fa-home(aria-hidden="true")
                        span ホーム

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#productManagement" aria-expanded="false" aria-controls="productManagement")
                        i.fa.fa-cube(aria-hidden="true")
                        span 商品管理
                    ul.collapse#productManagement
                        li: a(href="/product/master") 商品マスター
                        li: a(href="/product/register") 商品登録
                        li: a(href="/product/standard") 規格管理
                        li: a(href="/product/category") カテゴリ管理
                        li: a(href="/product/tags") タグ管理
                        li: a(href="/product/csv/product") 商品CSV登録
                        li: a(href="/product/csv/category") カテゴリCSV登録

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#orderManagement" aria-expanded="false" aria-controls="orderManagement")
                        i.fa.fa-inbox(aria-hidden="true")
                        span 受注管理
                    ul.collapse#orderManagement
                        li: a(href="/order/list") 受注マスター
                        li: a(href="/order/management") 受注管理

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#shipManagement" aria-expanded="false" aria-controls="shipManagement")
                        i.fa.fa-truck(aria-hidden="true")
                        span 出荷管理
                    ul.collapse#shipManagement
                        li: a(href="/shipment/master") 出荷マスター
                        li: a(href="/shipment/management") 出荷管理
                        li: a(href="/shipment/register") 出荷CSV登録

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#userManagement" aria-expanded="false" aria-controls="userManagement")
                        i.fa.fa-users(aria-hidden="true")
                        span 会員管理

                    ul.collapse#userManagement
                        li: a(href="/customer/master") 会員マスター
                        li: a(href="/customer/management") 会員管理

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#contentsManagement" aria-expanded="false" aria-controls="contentsManagement")
                        i.fa.fa-file-text-o(aria-hidden="true")
                        span コンテンツ管理

                    ul.collapse#contentsManagement
                        li: a(href="/content/news") 新着情報管理
                        li: a(href="/content/file") ファイル管理
                        li: a(href="/content/layout") レイアウト管理
                        li: a(href="/content/page") ページ管理
                        li: a(href="/content/block") ブロック管理
                        li: a(href="/content/cache") キャッシュ管理

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#config" aria-expanded="false" aria-controls="config")
                        i.fa.fa-cog(aria-hidden="true")
                        span 設定

                    +e.A.navItemSubTitle.collapsed(data-toggle="collapse" href="#commonConfig" aria-expanded="false" aria-controls="commonConfig")
                        span 基本情報設定
                    ul.collapse#commonConfig
                        li: a(href="/setting/basis/shop")  ショップマスター
                        li: a(href="/setting/basis/tradelaw")  特定商取引法
                        li: a(href="/setting/basis/agreement")  利用規約設定
                        li: a(href="/setting/basis/payment")  支払方法設定
                        li: a(href="/setting/basis/delivery")  配送方法設定
                        li: a(href="/setting/basis/tax")  税率設定
                        li: a(href="/setting/basis/mail") メール設定
                    +e.A.navItemSubTitle.collapsed(data-toggle="collapse" href="#systemConfig" aria-expanded="false" aria-controls="systemConfig")
                        span システム情報設定
                    ul.collapse#systemConfig
                        li: a(href="/setting/system/system") システム情報
                        li: a(href="/setting/system/member") メンバー管理
                        li: a(href="/setting/system/authority") 権限管理
                        li: a(href="/setting/system/security") セキュリティ管理
                        li: a(href="/setting/system/log") EC-CUBE ログ表示
                        li: a(href="/setting/system/master") マスターデータ管理

                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#ornersStore" aria-expanded="false" aria-controls="ornersStore")
                        i.fa.fa-info-circle(aria-hidden="true")
                        span オーナーズストア
                +e.LI.navItem
                    +e.A.navItemTitle.collapsed(data-toggle="collapse" href="#others" aria-expanded="false" aria-controls="shipManagement")
                        i.fa.fa-truck(aria-hidden="true")
                        span その他
                    ul.collapse#others
                        li: a(href="/styleguide/") スタイルガイド
