mixin c-mainNavArea
    +b.c-mainNavArea
        nav
            +e.UL.nav
                +e.LI.navItem
                    a(href="")
                        i.fa.fa-home(aria-hidden="true")
                        span ホーム
                    ul
                        li: a(href="") 商品マスタ
                        li: a(href="") 商品登録
                        li: a(href="") 規格管理
                        li: a(href="") カテゴリ管理
                        li: a(href="") タグ管理
                        li: a(href="") 商品CSV登録
                        li: a(href="") カテゴリCSV登録

                +e.LI.navItem
                    a
                        i.fa.fa-cube(aria-hidden="true")
                        span 商品管理
                +e.LI.navItem
                    a
                        i.fa.fa-inbox(aria-hidden="true")
                        span 受注管理
                +e.LI.navItem
                    a
                        i.fa.fa-truck(aria-hidden="true")
                        span 出荷管理
                +e.LI.navItem
                    a
                        i.fa.fa-users(aria-hidden="true")
                        span 会員管理
                +e.LI.navItem
                    a
                        i.fa.fa-file-text-o(aria-hidden="true")
                        span コンテンツ管理
                +e.LI.navItem
                    a
                        i.fa.fa-cog(aria-hidden="true")
                        span 設定
                +e.LI.navItem
                    a
                        i.fa.fa-info-circle(aria-hidden="true")
                        span オーナーズストア

