//- 会員マスター>会員管理テーブル　TODO（商品登録の規格等でもそのまま使えるか検討必要）
mixin c-table--customer
    +b.TABLE.c-customerTable
        +e.THEAD.tableHeader
            th
                input(type='checkbox')
            th 会員ID
            th 会員名
            th 電話番号
            th メールアドレス
            th &nbsp;
        - for (var x = 0; x < 6; x++)
            tr
                td
                    input(type='checkbox')
                td 1
                td.c-usersTable_name
                    a(href='#') 山田 はなこ
                td 06-6666-6666
                td witchdoktor@gmail.com
                td
                    +e.A.delete(href='#')
                        i.fa.fa-times

//- 商品登録>規格設定　TODO（クラス名これでいいのか検討必要）
mixin c-table--standard
    +b.TABLE.c-standardTable
        +e.THEAD.tableHeader
            th.c-standard_head 規格１
            th.c-standard_head 規格２
            th.c-standard_head 商品コード
            th.c-standard_head 在庫数
            th.c-standard_head 販売価格（円）
        - for (var x = 0; x < 6; x++)
            tr
                td.c-standard_data プラチナ
                td.c-standard_data 100cm
                td.c-standard_data aa-001
                td.c-standard_data ４
                td.c-standard_data 10,000

//- 並び替えテーブル
mixin c-sortTable(text1,text2,text3)
    +b.c-sortTable
        +e.item
            +e.itemForm
                form.c-form
                    .c-form__text--regular
                        input(type="text")
                    button.c-button--regular.c-button--normal 新規作成
        +e.item
            +e.itemNob
                i.fa.fa-bars
            +e.itemCategory
                a(href="")= text1
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close
        +e.item
            +e.itemNob
                i.fa.fa-bars

            +e.itemCategory
                a(href="")= text2
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close
        +e.item
            +e.itemForm
                form.c-form
                    .c-form__text--regular
                        input(type="text" placeholder="変更名を入力")
                    button.c-button--regular.c-button--conversion 決定
                    button.c-button--regular.c-button--sub キャンセル
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close
        +e.item
            +e.itemNob
                i.fa.fa-bars

            +e.itemCategory
                a(href="")= text3
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.is-stopped.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close