//- 会員マスター>会員管理テーブル　TODO（商品登録の規格等でもそのまま使えるか検討必要）
mixin c-table--customer
    +b.TABLE.c-customerTable
        +e.THEAD.tableHeader
            th
                input(type='checkbox')
            th 会員ID
            th 会員名
            th 電話番号
            th メールアドレス
            th &nbsp;
        - for (var x = 0; x < 6; x++)
            tr
                td
                    input(type='checkbox')
                td 1
                td.c-usersTable_name
                    a(href='#') 山田 はなこ
                td 06-6666-6666
                td witchdoktor@gmail.com
                td
                    +e.A.delete(href='#')
                        i.fa.fa-times

//- 商品登録>規格設定　TODO（クラス名これでいいのか検討必要）
mixin c-table--standard
    +b.TABLE.c-standardTable
        +e.THEAD.tableHeader
            th.c-standard_head 規格１
            th.c-standard_head 規格２
            th.c-standard_head 商品コード
            th.c-standard_head 在庫数
            th.c-standard_head 販売価格（円）
        - for (var x = 0; x < 6; x++)
            tr
                td.c-standard_data プラチナ
                td.c-standard_data 100cm
                td.c-standard_data aa-001
                td.c-standard_data ４
                td.c-standard_data 10,000

//- 並び替えテーブル
mixin c-sortTable(text1,text2,text3)
    +b.c-sortTable
        +e.item
            +e.itemForm
                form.form-row
                    .col-3
                        input(type="text" placeholder="テキスト").form-control
                    .col-auto
                        button(type="submit").btn.btn-outline-dark 新規作成
        +e.item
            +e.itemNob
                i.fa.fa-bars
            +e.itemCategory
                a(href="/moc/product/standard/detail")= text1
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close
        +e.item
            +e.itemNob
                i.fa.fa-bars

            +e.itemCategory
                a(href="/moc/product/standard/detail")= text2
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close
        +e.item
            +e.itemForm
                form.form-row
                    .col-4
                        input(type="text" placeholder="テキスト").form-control
                    .col-auto
                        button(type="submit").btn.btn-primary 決定
                    .col-auto
                        button(type="submit").btn.btn-light キャンセル
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close
        +e.item
            +e.itemNob
                i.fa.fa-bars

            +e.itemCategory
                a(href="/moc/product/standard/detail")= text3
            +e.itemAction
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down
                +e.itemActionBtn.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil
                +e.itemActionBtn.is-stopped.c-toolTip(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close

mixin c-csvTable
    table.c-csvTable
        tr
            th 商品説明(一覧)
            td
        tr
            th 商品説明(詳細)
            td
        tr
            th 検索ワード
            td
        tr
            th フリーエリア
            td
        tr
            th 商品削除フラグ
            td 設定されていない場合0を登録
        tr
            th 商品画像
            td 複数画像の場合、画像ファイル名をカンマ区切りで「"」で囲んで設定
        tr
            th 在庫数無制限フラグ
            td

mixin c-table--mail
    +b.TABLE.c-table--mail
        +e.THEAD.tableHeader
            th 配信日
            th テンプレート
            th 件名
        tr
            td 2017/12/03
            td お問い合わせを受け付けました
            td
                a(href="#") お問い合わせを受け付けました
        tr
            td 2017/12/03
            td ご注文ありがとうございます
            td
                a(href="#") ご注文ありがとうございます