mixin c-tags
    .c-tags
         span.c-tag.c-tag--black オススメ
         span.c-tag.c-tag--blue 限定品
         span.c-tag.c-tag--black 新入荷
         span.c-tag.c-tag--blue 値下げしました
         span.c-tag.c-tag--black オススメ
         span.c-tag.c-tag--blue 限定品
         span.c-tag.c-tag--black 新入荷
         span.c-tag.c-tag--black 値下げしました
         span.c-tag.c-tag--black 送料無料