extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title 商品CSV登録
            +e.SPAN.subTitle 商品管理

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                span CSVファイルをアップロード
                i.fa.fa-question-circle.fa-lg.fa-lg.ml-1
        .card-body
            .row.mb-3
                .col-2
                        span CSVファイル選択
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col
                    form.mb-3
                        input(type="file").form-control-file
                    button(type="submit").btn.btn-primary 一括登録を実行
    .card.rounded.border-0.mb-4
        .card-header
            .row.justify-content-between
                .col-6
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.align-middle 商品登録CSVファイルフォーマット
                        i.fa.fa-question-circle.fa-lg.fa-lg.ml-1
                .col-4.text-right
                    button.btn.btn-light.border.border-dark.d-inline-block 雛形ファイルダウンロード
        .card-body
            table.table.table-striped.table-bordered
                tbody
                    tr
                        th.align-middle.table-secondary 商品ID
                        td.align-middle 新規登録時は未設定
                            br
                            | 既存商品の更新は商品IDを設定
                    tr
                        th.align-middle.table-secondary 公開ステータス(ID)
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 商品名
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle
                    tr
                        th.align-middle.table-secondary ショップ用メモ欄
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 商品説明(一覧)
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 商品説明(詳細)
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 検索ワード
                        td.align-middle
                    tr
                        th.align-middle.table-secondary フリーエリア
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 商品削除フラグ
                        td.align-middle 設定されていない場合0を登録
                    tr
                        th.align-middle.table-secondary 商品画像
                        td.align-middle 複数画像の場合、画像ファイル名をカンマ区切りで「"」で囲んで設定
                    tr
                        th.align-middle.table-secondary 商品カテゴリ(ID)
                        td.align-middle 複数カテゴリの場合、商品カテゴリIDをカンマ区切りで「"」で囲んで設定
                    tr
                        th.align-middle.table-secondary タグ(ID)
                        td.align-middle 複数タグの場合、タグIDをカンマ区切りで「"」で囲んで設定
                    tr
                        th.align-middle.table-secondary 商品種別(ID)
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 規格分類1(ID)
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 規格分類2(ID)
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 商品種別(ID)
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 発送日目安(ID)
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 商品コード
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 在庫数
                        td.align-middle
                    tr
                        th.align-middle.table-secondary 在庫数無制限フラグ
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle 在庫数無制限フラグが0の場合、0以上の数値を設定
                    tr
                        th.align-middle.table-secondary 販売制限数
                        td.align-middle 0以上の数値を設定
                    tr
                        th.align-middle.table-secondary 通常価格
                        td.align-middle 0以上の数値を設定
                    tr
                        th.align-middle.table-secondary 販売価格
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle 0以上の数値を設定
                    tr
                        th.align-middle.table-secondary 送料
                        td.align-middle 商品ごとの送料設定が有効の場合、0以上の数値を設定
                    tr
                        th.align-middle.table-secondary 商品規格削除フラグ
                        td.align-middle 設定されていない場合、0を登録