extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("会員登録","会員管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    span.card-title 会員情報
                .col-4.text-right
                    a(data-toggle="collapse" href="#ordererInfo" aria-expanded="false" aria-controls="ordererInfo")
                        i.fa.fa-angle-up.fa-lg
        #ordererInfo.collapse.show.ec-cardCollapse
            .card-body
                .row.mb-2
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 会員ID
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col
                        p 12
                .row.mb-2
                    .col-3
                        span お名前
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            .row
                                .col
                                    input.form-control(type='text', placeholder='性')
                                .col
                                    input.form-control(type='text', placeholder='名')
                .row.mb-2
                    .col-3
                        span フリガナ
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            .row
                                .col
                                    input.form-control(type='text', placeholder='セイ')
                                .col
                                    input.form-control(type='text', placeholder='メイ')
                .row.mb-2
                    .col-3
                        span 会社名
                    .col
                        form
                            input.form-control(type='text')
                .row.mb-2
                    .col-3
                        span 住所
                        span.badge.badge-primary.ml-1 必須
                    .col.mb-3
                        form.mb-3
                            .row.justify-content-start
                                .col-auto.pr-0.align-self-center
                                    span 〒
                                .col-2
                                    input.form-control(type='text', placeholder='郵便番号1')
                                .col-auto.p-0.align-self-center
                                    span -
                                .col-2
                                    input.form-control(type='text', placeholder='郵便番号2')
                        form.mb-3
                            .row.justify-content-start
                                .col-auto
                                    select.form-control
                                        option(value='') 都道府県を選択
                        form
                            input.form-control.mb-3(type='text', placeholder='市区町村名（例：千代田区神田神保町）')
                            input.form-control(type='text', placeholder='番地・ビル名（例：1-1-2 ）')
                .row.mb-2
                    .col-3
                        span メールアドレス
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            input.form-control(type='email')
                .row.mb-2
                    .col-3
                        span 電話番号
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            .row.justify-content-start
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                .row.mb-2
                    .col-3
                        span FAX番号
                    .col
                        form
                            .row.justify-content-start
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                .row.mb-2
                    .col-3
                        span パスワード
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            input.form-control(type='password' , placeholder='')
                .row.mb-2
                    .col-3
                        span パスワード（確認）
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            input.form-control(type='password' , placeholder='')
                .row.mb-2
                    .col-3
                        span 性別
                    .col
                        form
                            .form-check.form-check-inline
                                label.form-check-label(for="male")
                                    input.form-check-input#male(type="radio", name="gender")
                                    |  男性
                            .form-check.form-check-inline
                                label.form-check-label(for="female")
                                    input.form-check-input#female(type="radio", name="gender")
                                    |  女性
                .row.mb-2
                    .col-3
                        span 職業
                    .col
                        form
                            select.form-control
                                option(value='') 選択してください
                .row.mb-2
                    .col-3
                        span 生年月日
                    .col
                        form
                            input.form-control(type='date', value='0000-01-01')



    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 購入履歴
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#standardConfig" aria-expanded="false" aria-controls="standardConfig")
                        i.fa.fa-angle-up.fa-lg
        #standardConfig.collapse.show.ec-cardCollapse
            .card-body
                table.table.table-striped.table-sm
                    thead.table-active
                        th.align-middle.pt-2.pb-2.pl-3 注文日時
                        th.align-middle.pt-2.pb-2 注文番号
                        th.align-middle.pt-2.pb-2 購入金額
                        th.align-middle.pt-2.pb-2.pr-3 対応状況
                    tbody
                        - for (var x = 0; x < 5; x++)
                            tr
                                td.align-middle.pl-3 2017/09/13
                                td.align-middle
                                    a(href="") 56
                                td.align-middle
                                    span.h5.font-weight-normal ¥4,000
                                td.align-middle.pr-3
                                    span.badge.badge-ec-glay 発送済み
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title ショップ用メモ欄
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#shopMemo" aria-expanded="false" aria-controls="shopMemo")
                        i.fa.fa-angle-up.fa-lg
        #shopMemo.collapse.show.ec-cardCollapse
            .card-body
                form
                    textarea(rows="8").form-control

block conversionArea
    +b.c-conversionArea
        +e.container
            .row.justify-content-between.align-items-center
                .col-6
                    +e.leftBlockItem
                        a(href="").c-beseLink
                            i.fa.fa-backward(aria-hidden="true")
                            span 会員マスター
                .col-6
                    .row.align-items-center.justify-content-end
                        .col-auto
                            form
                                select.form-control
                                    option(value='') 本会員
                                    option(value='') 仮会員
                                    option(value='') 脱会
                        .col-auto
                            button(type="submit").btn.btn-ec-conversion.px-5 会員情報を登録

