extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("メール通知","受注管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span.card-title メール配信先
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#mailTo" aria-expanded="false" aria-controls="mailTo")
                        i.fa.fa-angle-up.fa-lg
        #mailTo.collapse.show.ec-cardCollapse
            .card-body
                .row.mb-2
                    .col-2
                        span 注文番号
                    .col-4
                        span 1234
                    .col-2
                        span 購入金額(円)
                    .col-4
                        span 52,980
                .row.mb-2
                    .col-2
                        span 注文者
                    .col-4
                        span 田口 はなこ（タグチ ハナコ）
                        br
                        | 〒000-0000
                        br
                        | 大阪府大阪市淀川区十三東1-17-13
                    .col-2
                        span 購入商品
                    .col-4
                        span パーコレーター 他３点
                .row
                    .col-2
                        span 対応状況
                    .col-10
                        span.badge.badge-ec-glay 発送済み
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    span.card-title メール配信履歴
                .col-4.text-right
                    a(data-toggle="collapse" href="#mailHistory" aria-expanded="false" aria-controls="mailHistory")
                        i.fa.fa-angle-up.fa-lg
        #mailHistory.collapse.show.ec-cardCollapse
            .card-body
                table.table.table-striped
                    thead.table-active
                        th.pt-2.pb-2.pl-3 配信日
                        th.pt-2.pb-2 テンプレート
                        th.pt-2.pb-2.pr-3 件名
                    tbody
                        tr
                            td.pl-3 2017/12/03
                            td お問い合わせを受け付けました
                            td.pr-3
                                a.text-primary(data-toggle="modal" data-target="#mail2") お問い合わせを受け付けました
                                #mail2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mail2', aria-hidden='true')
                                    .modal-dialog(role='document')
                                        .modal-content
                                            .modal-header
                                                h5.modal-title [EC-CUBE SHOP] ご注文ありがとうございます
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                    span(aria-hidden='true') ×
                                            .modal-body
                                                p
                                                    | テスト タロウ 様
                                                    br
                                                    br
                                                    | この度はご注文いただき誠にありがとうございます。下記ご注文内容にお間違えがないかご確認下さい。
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  ご請求金額
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | ご注文番号：1
                                                    br
                                                    | お支払い合計：￥53,920
                                                    br
                                                    | お支払い方法：郵便振替
                                                    br
                                                    | メッセージ：
                                                    br
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  ご注文商品明細
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | -------------------------------------------------
                                                    br
                                                    | 小　計 ￥52,920(うち消費税 ￥3,920)
                                                    br
                                                    | 手数料 ￥0
                                                    br
                                                    | 送　料 ￥1,000
                                                    br
                                                    | ============================================
                                                    br
                                                    | 合　計 ￥53,920
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  ご注文者情報
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | お名前　：テスト タロウ 様
                                                    br
                                                    | フリガナ：テスト タロウ 様
                                                    br
                                                    | 郵便番号：〒532-0023
                                                    br
                                                    | 住所　　：大阪府大阪市淀川区十三東
                                                    br
                                                    | 電話番号：00-0000-0000
                                                    br
                                                    | FAX番号 ：--
                                                    br
                                                    | メールアドレス：witchdoktor0403@gmail.com
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  配送情報
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | ◎お届け先
                                                    br
                                                    | お名前　：テスト タロウ 様
                                                    br
                                                    | フリガナ：テスト タロウ 様
                                                    br
                                                    | 郵便番号：〒532-0023
                                                    br
                                                    | 住所　　：大阪府大阪市淀川区十三東
                                                    br
                                                    | 電話番号：00-0000-0000
                                                    br
                                                    | FAX番号 ：--
                                                    br
                                                    |
                                                    | お届け日：指定なし
                                                    br
                                                    | お届け時間：指定なし
                                                    br
                                                    br
                                                    | 商品コード: fork-05
                                                    br
                                                    | 商品名: ディナーフォーク 銀 170mm
                                                    br
                                                    | 数量：1
                                                    br
                                                    br
                                                    | 商品コード:
                                                    br
                                                    | 商品名: 送料
                                                    br
                                                    | 数量：1
                                                    br
                                                    br
                                                    | ============================================
                                                    br
                                                    br
                                                    br
                                                    | このメッセージはお客様へのお知らせ専用ですので、
                                                    br
                                                    | このメッセージへの返信としてご質問をお送りいただいても回答できません。
                                                    br
                                                    | ご了承ください。
                                                    br
                                                    br
                                                    | ご質問やご不明な点がございましたら、こちらからお願いいたします。
                                                    br
                                            .modal-footer
                                                button.btn.btn-ec-regular(type='button', data-dismiss='modal') 閉じる
                        tr
                            td.pl-3.pt-2.pb-2 2017/12/01
                            td ご注文ありがとうございます
                            td.pr-3
                                a.text-primary(data-toggle="modal" data-target="#mail1") ご注文ありがとうございます
                                #mail1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mail1', aria-hidden='true')
                                    .modal-dialog(role='document')
                                        .modal-content
                                            .modal-header
                                                h5.modal-title [EC-CUBE SHOP] ご注文ありがとうございます
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                    span(aria-hidden='true') ×
                                            .modal-body
                                                p
                                                    | テスト タロウ 様
                                                    br
                                                    br
                                                    | この度はご注文いただき誠にありがとうございます。下記ご注文内容にお間違えがないかご確認下さい。
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  ご請求金額
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | ご注文番号：1
                                                    br
                                                    | お支払い合計：￥53,920
                                                    br
                                                    | お支払い方法：郵便振替
                                                    br
                                                    | メッセージ：
                                                    br
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  ご注文商品明細
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | -------------------------------------------------
                                                    br
                                                    | 小　計 ￥52,920(うち消費税 ￥3,920)
                                                    br
                                                    | 手数料 ￥0
                                                    br
                                                    | 送　料 ￥1,000
                                                    br
                                                    | ============================================
                                                    br
                                                    | 合　計 ￥53,920
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  ご注文者情報
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | お名前　：テスト タロウ 様
                                                    br
                                                    | フリガナ：テスト タロウ 様
                                                    br
                                                    | 郵便番号：〒532-0023
                                                    br
                                                    | 住所　　：大阪府大阪市淀川区十三東
                                                    br
                                                    | 電話番号：00-0000-0000
                                                    br
                                                    | FAX番号 ：--
                                                    br
                                                    | メールアドレス：witchdoktor0403@gmail.com
                                                    br
                                                    br
                                                    | ************************************************
                                                    br
                                                    |  配送情報
                                                    br
                                                    | ************************************************
                                                    br
                                                    br
                                                    | ◎お届け先
                                                    br
                                                    | お名前　：テスト タロウ 様
                                                    br
                                                    | フリガナ：テスト タロウ 様
                                                    br
                                                    | 郵便番号：〒532-0023
                                                    br
                                                    | 住所　　：大阪府大阪市淀川区十三東
                                                    br
                                                    | 電話番号：00-0000-0000
                                                    br
                                                    | FAX番号 ：--
                                                    br
                                                    |
                                                    | お届け日：指定なし
                                                    br
                                                    | お届け時間：指定なし
                                                    br
                                                    br
                                                    | 商品コード: fork-05
                                                    br
                                                    | 商品名: ディナーフォーク 銀 170mm
                                                    br
                                                    | 数量：1
                                                    br
                                                    br
                                                    | 商品コード:
                                                    br
                                                    | 商品名: 送料
                                                    br
                                                    | 数量：1
                                                    br
                                                    br
                                                    | ============================================
                                                    br
                                                    br
                                                    br
                                                    | このメッセージはお客様へのお知らせ専用ですので、
                                                    br
                                                    | このメッセージへの返信としてご質問をお送りいただいても回答できません。
                                                    br
                                                    | ご了承ください。
                                                    br
                                                    br
                                                    | ご質問やご不明な点がございましたら、こちらからお願いいたします。
                                                    br
                                            .modal-footer
                                                button.btn.btn-ec-regular(type='button', data-dismiss='modal') 閉じる



    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    span.card-title 新規メール配信
                .col-4.text-right
                    a(data-toggle="collapse" href="#mailCreate" aria-expanded="false" aria-controls="mailCreate")
                        i.fa.fa-angle-up.fa-lg
        #mailCreate.collapse.show.ec-cardCollapse
            .card-body
                .row.mb-2
                    .col-3
                        .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                            span テンプレート
                            i.fa.fa-question-circle.fa-lg.ml-1
                            span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            select.form-control
                                option(value='') 選択してください
                .row.mb-2
                    .col-3
                            span 件名
                            span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            input(type="text").form-control

                .row.mb-2
                    .col-3
                        span ヘッダー文
                    .col
                        form
                            textarea(rows="8").form-control
                .row.mb-2
                    .col-3
                        span フッター文
                    .col
                        form
                            textarea(rows="8").form-control
block conversionArea
    form
        +b.c-conversionArea
            +e.container
                .row.justify-content-between.align-items-center
                    .col-6
                        +e.leftBlockItem
                            a(href="/order/master").c-beseLink
                                i.fa.fa-backward(aria-hidden="true")
                                span 受注マスター
                    .col-6
                        .row.align-items-center.justify-content-end
                            .col-auto
                                a(data-toggle="modal" data-target="#mailConfirm" tabindex).btn.btn-ec-conversion.px-5 配信内容を確認
        #mailConfirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mailConfirm', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        .modal-title
                            p.font-weight-bold.mb-2 下の内容でメールを送信してもよろしいですか？ 確認の上、［メール送信］ボタンを押してください。
                            br
                            p.font-weight-bold.text-danger ※24人に送信｜下記内容は1通分の例です。受注情報・宛名は宛先ごとに異なります。
                    .modal-body
                        h5 [EC-CUBE SHOP] ご注文ありがとうございます
                        br
                        p
                            | テスト タロウ 様
                            br
                            br
                            | この度はご注文いただき誠にありがとうございます。下記ご注文内容にお間違えがないかご確認下さい。
                            br
                            br
                            | ************************************************
                            br
                            |  ご請求金額
                            br
                            | ************************************************
                            br
                            br
                            | ご注文番号：1
                            br
                            | お支払い合計：￥53,920
                            br
                            | お支払い方法：郵便振替
                            br
                            | メッセージ：
                            br
                            br
                            br
                            | ************************************************
                            br
                            |  ご注文商品明細
                            br
                            | ************************************************
                            br
                            br
                            | -------------------------------------------------
                            br
                            | 小　計 ￥52,920(うち消費税 ￥3,920)
                            br
                            | 手数料 ￥0
                            br
                            | 送　料 ￥1,000
                            br
                            | ============================================
                            br
                            | 合　計 ￥53,920
                            br
                            br
                            | ************************************************
                            br
                            |  ご注文者情報
                            br
                            | ************************************************
                            br
                            br
                            | お名前　：テスト タロウ 様
                            br
                            | フリガナ：テスト タロウ 様
                            br
                            | 郵便番号：〒532-0023
                            br
                            | 住所　　：大阪府大阪市淀川区十三東
                            br
                            | 電話番号：00-0000-0000
                            br
                            | FAX番号 ：--
                            br
                            | メールアドレス：witchdoktor0403@gmail.com
                            br
                            br
                            | ************************************************
                            br
                            |  配送情報
                            br
                            | ************************************************
                            br
                            br
                            | ◎お届け先
                            br
                            | お名前　：テスト タロウ 様
                            br
                            | フリガナ：テスト タロウ 様
                            br
                            | 郵便番号：〒532-0023
                            br
                            | 住所　　：大阪府大阪市淀川区十三東
                            br
                            | 電話番号：00-0000-0000
                            br
                            | FAX番号 ：--
                            br
                            |
                            | お届け日：指定なし
                            br
                            | お届け時間：指定なし
                            br
                            br
                            | 商品コード: fork-05
                            br
                            | 商品名: ディナーフォーク 銀 170mm
                            br
                            | 数量：1
                            br
                            br
                            | 商品コード:
                            br
                            | 商品名: 送料
                            br
                            | 数量：1
                            br
                            br
                            | ============================================
                            br
                            br
                            br
                            | このメッセージはお客様へのお知らせ専用ですので、
                            br
                            | このメッセージへの返信としてご質問をお送りいただいても回答できません。
                            br
                            | ご了承ください。
                            br
                            br
                            | ご質問やご不明な点がございましたら、こちらからお願いいたします。
                            br
                    .modal-footer
                        button.btn.btn-ec-sub(type='button', data-dismiss='modal') 閉じる
                        a(href="/order/master/").btn.btn-ec-conversion 送信


