extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("出荷CSV登録","出荷管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                span CSVファイルをアップロード
                i.fa.fa-question-circle.fa-lg.fa-lg.ml-1
        .card-body
            .row
                .col-2
                        span CSVファイル選択
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col
                    form.mb-2
                        a(onclick="$('#fileForm').click()").btn.btn-ec-regular.mr-2 ファイルを選択
                        span 選択されていません
                        input#fileForm.d-none(type="file")
                    button(type="submit").btn.btn-ec-conversion 一括登録を実行
    .card.rounded.border-0.mb-4
        .card-header
            .row.justify-content-between
                .col-6
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.align-middle 出荷登録CSVファイルフォーマット
                        i.fa.fa-question-circle.fa-lg.fa-lg.ml-1
                .col-4.text-right
                    button.btn.btn-ec-regular 雛形ファイルダウンロード
        .card-body
            table.table.table-striped.table-bordered
                tbody
                    tr
                        th.w-25.align-middle.table-ec-lightGray 商品ID
                        td.align-middle 項目は未決定
                            br