extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("ショップマスター","基本情報設定")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            span 基本情報
        .card-body
                .row
                    .col-3
                        span 会社名
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row
                    .col-3
                        span 会社名（フリガナ）
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row
                    .col-3
                        span 店名
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row
                    .col-3
                        span 店名（フリガナ）
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row
                    .col-3
                        span 店名（英語表記）
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row
                    .col-3
                        span 住所
                        span.badge.badge-primary.ml-1 必須
                    .col.mb-2
                        form.mb-2
                            .row.justify-content-start
                                .col-auto.text-center.pr-0
                                    span.align-middle 〒
                                .col-2
                                    input.form-control(type='text', placeholder='郵便番号1')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text', placeholder='郵便番号2')
                        form.mb-2
                            .row.justify-content-start
                                .col-3
                                    select.form-control
                                        option(value='') 都道府県を選択
                        form
                            input.form-control.mb-2(type='text', placeholder='市区町村名（例：千代田区神田神保町）')
                            input.form-control(type='text', placeholder='番地・ビル名（例：1-1-2）')
                .row.mb-2
                    .col-3
                        span 電話番号
                        span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            .row.justify-content-start
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                .row.mb-2
                    .col-3
                        span FAX番号
                    .col
                        form
                            .row.justify-content-start
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                                .col-auto.text-center.p-0
                                    span.align-middle -
                                .col-2
                                    input.form-control(type='text')
                .row.mb-3
                    .col-3
                        span 店舗営業時間
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row.mb-3
                    .col-3
                        span 送信元メールアドレス(From)
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row.mb-3
                    .col-3
                        span 問い合わせ受付メールアドレス(From, ReplyTo)
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row.mb-3
                    .col-3
                        span 返信受付メールアドレス(ReplyTo)
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row.mb-3
                    .col-3
                        span 送信エラー受付メールアドレス(ReturnPath)
                    .col.mb-2
                        form
                            input(type="text").form-control
                .row
                    .col-3
                        span 取り扱い商品説明文
                    .col.mb-2
                        form
                            textarea(rows="8").form-control
                .row
                    .col-3
                        span 店舗からのメッセージ
                    .col.mb-2
                        form
                            textarea(rows="8").form-control
    .card.rounded.border-0.mb-4
        .card-header
            span 送料設定
        .card-body
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 送料無料条件（金額）
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col.mb-2
                        .input-group.col-4.pl-0
                            span.input-group-addon ￥
                            input(type="number").form-control
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 送料無料条件（数量）
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col.mb-2
                        .input-group.col-4.pl-0
                            input(type="number").form-control
                            span.input-group-addon 個
                .row
                    .col-3
                        span 商品ごとの送料設定
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_productCost', '無効')
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 複数配送
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_multiDelivery', '無効')
    .card.rounded.border-0.mb-4
        .card-header
            span 会員設定
        .card-body
                .row
                    .col-3
                        span 仮会員機能
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_provisionalUser', '有効')
                .row
                    .col-3
                        span マイページに注文状況を表示
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_mypageOrder', '有効')
                .row
                    .col-3
                        span お気に入り商品機能
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_favoriteProduct', '有効')
                .row
                    .col-3
                        span 自動ログイン機能
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_autoLogin', '無効')
    .card.rounded.border-0.mb-4
        .card-header
            span 商品設定
        .card-body
            .row
                .col-3
                    span 在庫切れ商品の表示
                .col.mb-2
                    include /assets/tmpl/components/toggleSwitch.pug
                    +c-toggleSwitch('switch_productDisplay', '非表示')
    .card.rounded.border-0.mb-4
        .card-header
            span 個別税率設定
        .card-body
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 商品別税率機能
                    .col.mb-2
                        include /assets/tmpl/components/toggleSwitch.pug
                        +c-toggleSwitch('switch_autoLogin', '無効')

block conversionArea
    +b.c-conversionArea
        +e.container
            .row.justify-content-between.align-items-center
                .col-6
                    +e.leftBlockItem
                .col-6
                    .row.align-items-center.justify-content-end
                        .col-auto
                            button(type="submit").btn.btn-ec-conversion.px-5 登録