extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("会員マスター","会員管理")

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row
                .col-6
                    form.c-form
                        label 会員ID・メールアドレス・お名前
                        .c-form__text
                            input(type="text" placeholder="テキスト")
                .col-6
            .row
                .col-12
                    include /assets/tmpl/components/subAction.pug
                    +c-subAction("詳細検索","is-active")
        +b.c-subContents
            .row
                .col-6
                    label 会員種別
                    form.c-form
                        .c-form__radio
                            input(type="radio" name="filter" value="open" checked="checked")
                            span 仮会員
                        .c-form__radio
                            input(type="radio" name="filter" value="close")
                            span 本会員
                    label 性別
                    form.c-form
                        .c-form__radio
                            input(type="radio" name="filter" value="open" checked="checked")
                            span 男性
                        .c-form__radio
                            input(type="radio" name="filter" value="close")
                            span 女性
                    label 誕生月
                    form.c-form
                        .c-form__select--register
                            select
                                option 選んでください
                                option ...
                    label 誕生日
                    form.c-form
                        .c-form__date--register
                            input(type="date" placeholder="2000/01/01")
                        span.c-form__sign 〜
                        .c-form__date--register
                            input(type="date" placeholder="2000/01/01")
                    label 都道府県
                    form.c-form
                        .c-form__select--register
                            select
                                option 選んでください
                                option ...
                    label 電話番号
                    form.c-form
                        .c-form__text--extraSmall
                            input(type="text" placeholder="00")
                        span.c-form__sign -
                        .c-form__text--extraSmall
                            input(type="text" placeholder="0000")
                        span.c-form__sign -
                        .c-form__text--extraSmall
                            input(type="text" placeholder="0000")
                .col-6
                    label 購入商品名
                    form.c-form
                        .c-form__text
                            input(type="text")
                    label 購入金額
                    form.c-form
                        //TODO 問題ないか確認
                        .c-form__text--small
                            .c-form__price
                                .c-form__priceMark
                                    span ￥
                                input(type="text")
                        span.c-form__sign 〜
                        .c-form__text--small
                            .c-form__price
                                .c-form__priceMark
                                    span ￥
                                input(type="text")
                    label 購入回数
                    form.c-form
                        .c-form__text--small
                            input(type="text")
                        span.c-form__sign 〜
                        .c-form__text--small
                            input(type="text")
                    label 登録日
                        form.c-form
                            .c-form__date--register
                                input(type="date" placeholder="2000/01/01")
                            span.c-form__sign 〜
                            .c-form__date--register
                                input(type="date" placeholder="2000/01/01")
                    label 更新日
                        form.c-form
                            .c-form__date--register
                                input(type="date" placeholder="2000/01/01")
                            span.c-form__sign 〜
                            .c-form__date--register
                                input(type="date" placeholder="2000/01/01")
                    label 最終購入日
                        form.c-form
                            .c-form__date--register
                                input(type="date" placeholder="2000/01/01")
                            span.c-form__sign 〜
                            .c-form__date--register
                                input(type="date" placeholder="2000/01/01")
                    form.c-form
            +e.action
                button.c-button--regular.c-button--normal 検索条件クリア
        +e.contents
            .row
                .col-12
                    button.c-button--regular.c-button--conversion 検索
            .row
                .col-12.text-right
                    form.c-form--inline
                        .c-form__select--small
                            select
                                option 10件
                    .c-tab--regular
                        a(href="").c-tab__item
                            i.fa.fa-cloud-download
                            span CSVダウンロード
                        a(href="").c-tab__item
                            i.fa.fa-cog
                            span CSV出力設定


block primaryContents
    .c-block
        .c-block__contents--noPadding
            include /assets/tmpl/components/table.pug
            +c-table--customer

            include /assets/tmpl/components/pagination.pug
            +c-pagenation