extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    include /assets/tmpl/components/pageTitle
    +c-pageTitle("支払方法設定","基本情報設定")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-body.p-0
            .row.my-3.ml-1
                .col-3
                    form
                        input.form-control(type='text')
                .col-auto.pl-0
                    button.btn.btn-ec-regular(type="submit") 新規作成
            ul.list-group.list-group-flush.mb-4
                li.list-group-item
                    .row.justify-content-around
                        .col-auto
                            strong &nbsp;
                        .col-1
                            strong 支払方法
                        .col-1
                            strong 手数料
                        .col
                            strong 利用条件
                li.list-group-item
                    .row.justify-content-around
                        .col-auto.d-flex.align-items-center
                            i.fa.fa-bars.text-ec-gray
                        .col-1.d-flex.align-items-center
                            a(href="/setting/basis/payment/edit") 郵便振替
                        .col-1.d-flex.align-items-center
                            span 0.00
                        .col.d-flex.align-items-center
                            span ０円〜無制限
                        .col-3.text-right
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                li.list-group-item
                    .row.justify-content-around
                        .col-auto.d-flex.align-items-center
                            i.fa.fa-bars.text-ec-gray
                        .col-1.d-flex.align-items-center
                            a(href="/setting/basis/payment/edit") 銀行振込
                        .col-1.d-flex.align-items-center
                            span 0.00
                        .col.d-flex.align-items-center
                            span ０円〜無制限
                        .col-3.text-right
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                li.list-group-item
                    .row.justify-content-around
                        .col-auto.d-flex.align-items-center
                            i.fa.fa-bars.text-ec-gray
                        .col-1.d-flex.align-items-center
                            a(href="/setting/basis/payment/edit") 現金書留
                        .col-1.d-flex.align-items-center
                            span 0.00
                        .col.d-flex.align-items-center
                            span ０円〜無制限
                        .col-3.text-right
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                li.list-group-item
                    .row.justify-content-around
                        .col-auto.d-flex.align-items-center
                            i.fa.fa-bars.text-ec-gray
                        .col-1.d-flex.align-items-center
                            a(href="/setting/basis/payment/edit") 代金引換
                        .col-1.d-flex.align-items-center
                            span 0.00
                        .col.d-flex.align-items-center
                            span ０円〜無制限
                        .col-3.text-right
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
    p 項目の順番はドラッグ＆ドロップでも変更可能です。