extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    include /assets/tmpl/components/pageTitle
    +c-pageTitle("支払方法設定","基本情報設定")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    span.card-title 支払方法
        .card-body.p-0
            ul.list-group.list-group-flush.mb-4
                li.list-group-item
                    .row.justify-content-around
                        .col-auto
                            strong &nbsp;
                        .col-1
                            strong 支払方法
                        .col-1
                            strong 手数料
                        .col
                            strong 利用条件
                li.list-group-item
                    .row.justify-content-around
                        .col-auto
                            i.fa.fa-bars
                        .col-1
                            a(href="/setting/basis/payment/edit") 郵便振替
                        .col-1
                            span 0.00
                        .col
                            span ０円〜無制限
                        .col-3.text-right
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                li.list-group-item
                    .row.justify-content-around
                        .col-auto
                            i.fa.fa-bars
                        .col-1
                            a(href="/setting/basis/payment/edit") 銀行振込
                        .col-1
                            span 0.00
                        .col
                            span ０円〜無制限
                        .col-3.text-right
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                li.list-group-item
                    .row.justify-content-around
                        .col-auto
                            i.fa.fa-bars
                        .col-1
                            a(href="/setting/basis/payment/edit") 現金書留
                        .col-1
                            span 0.00
                        .col
                            span ０円〜無制限
                        .col-3.text-right
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                li.list-group-item
                    .row.justify-content-around
                        .col-auto
                            i.fa.fa-bars
                        .col-1
                            a(href="/setting/basis/payment/edit") 代金引換
                        .col-1
                            span 0.00
                        .col
                            span ０円〜無制限
                        .col-3.text-right
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                            .d-inline-block.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
            .col-4.text-left.mb-4
                a(href="/setting/basis/payment/edit").btn.btn-outline-dark 新規作成
    p 項目の順番はドラッグ＆ドロップでも変更可能です。