extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title 受注登録
            +e.SPAN.subTitle 受注管理

block primaryContents
    +b.c-block
        +e.heading
            +e.titles
                +b.c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                    span.c-toolTip__title 注文概要
                    i.fa.fa-question-circle(aria-hidden="true")
                    i.fa.fa-chevron-up(aria-hidden="true")
        +e.contents
            .row
                .col-6
                    .mb-2
                        .row
                            .col-3
                                label 注文番号
                            .col-9
                                p 1
                    .mb-2
                        .row
                            .col-3
                                label 出荷番号
                            .col-9
                                a(href="#") 12345
                                span |
                                a(href="#") 12346
                                span |
                                a(href="#") 12347
                    .mb-2
                        .row
                            .col-3
                                label 対応状況
                                i.fa.fa-question-circle
                            .col-9
                                form.c-form
                                    .c-form__select--register
                                        select
                                            option 出荷済み
                                            option ...
                                p キャンセルする場合、在庫数は手動で戻してください。
                    .mb-2
                        .row
                            .col-3
                                label お支払い方法
                            .col-9
                                form.c-form
                                    .c-form__select--small
                                        select
                                            option 郵便振替
                                            option ...
                                p お支払方法の変更に伴う手数料の変更は手動にてお願いします。
                .col-6
                    .mb-2
                        dl.c-definitionList
                            dt.c-definitionList__term
                                i.fa.fa-inbox(aria-hidden="true")
                                span 受注日
                            dd.c-definitionList__description 2017/09/13
                    .mb-2
                        dl.c-definitionList
                            dt.c-definitionList__term
                                i.fa.fa-money(aria-hidden="true")
                                span 入金日
                            dd.c-definitionList__description 2017/09/13
                    .mb-2
                        dl.c-definitionList
                            dt.c-definitionList__term
                                i.fa.fa-refresh(aria-hidden="true")
                                span 最終更新日
                            dd.c-definitionList__description 2017/09/14
                    .mb-2
                        dl.c-definitionList
                            dt.c-definitionList__term
                                i.fa.fa-user(aria-hidden="true")
                                span 最終更新者
                            dd.c-definitionList__description user_name
    +b.c-block
        +e.heading
            +e.titles
                +b.c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                    span.c-toolTip__title 注文者情報
                    i.fa.fa-question-circle(aria-hidden="true")
                    i.fa.fa-chevron-up(aria-hidden="true")
        +e.contents
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title 会員ID
                        i.fa.fa-question-circle.c-toolTip__icon
                +e.form
                    .row
                        .col-12
                            p 12
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title お名前
                        .c-requiredLabel
                            span 必須
                +e.form
                    .row
                        .col-6
                            form.c-form
                                .c-form__text
                                    input(type="text")
                        .col-6
                            form.c-form
                                .c-form__text
                                    input(type="text")
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title 住所
                        .c-requiredLabel
                            span 必須
                +e.form
                    .row
                        .col-12
                            form.c-form
                                .c-form__text--small
                                    input(type="text")
                                span.c-form__sign -
                                .c-form__text--small
                                    input(type="text")
                    .row
                        .col-12
                            form.c-form
                                .c-form__select--small
                                    select
                                        option 東京都
                                        option ...
                    .row
                        .col-12
                            form.c-form
                                .c-form__text
                                    input(type="text")
                    .row
                        .col-12
                            form.c-form
                                .c-form__text
                                    input(type="text")
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title メールアドレス
                        .c-requiredLabel
                            span 必須
                +e.form
                    .row
                        .col-12
                            form.c-form
                                .c-form__text
                                    input(type="text")
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title 電話番号
                            .c-requiredLabel
                                span 必須
                +e.form
                    .row
                        .col-12
                            form.c-form
                                .c-form__text
                                    .c-form__text--extraSmall
                                        input(type="text")
                                    span.c-form__sign -
                                    .c-form__text--extraSmall
                                        input(type="text")
                                    span.c-form__sign -
                                    .c-form__text--extraSmall
                                        input(type="text")
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title FAX番号
                +e.form
                    .row
                        .col-12
                            form.c-form
                                .c-form__text--extraSmall
                                    input(type="text")
                                span.c-form__sign -
                                .c-form__text--extraSmall
                                    input(type="text")
                                span.c-form__sign -
                                .c-form__text--extraSmall
                                    input(type="text")
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title 会社名
                +e.form
                    .row
                        .col-12
                            form.c-form
                                .c-form__text
                                    input(type="text")
            +b.c-horizontalForm
                +e.label
                    .c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.c-toolTip__title お問い合わせ
                +e.form
                    .row
                        .col-12
                            form.c-form
                                .c-form__text
                                    textarea(rows="9" placeholder="テキスト")
    +b.c-block
        +e.heading
            +e.titles
                +b.c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                    span.c-toolTip__title 受注商品情報
                    i.fa.fa-question-circle(aria-hidden="true")
                    i.fa.fa-chevron-up(aria-hidden="true")
        +e.contents
            a(href="#")
                button.c-button--regular.c-button--normal(style="margin-right:10px;") 商品を追加
            a(href="#")
                button.c-button--regular.c-button--normal(style="margin-right:10px;") その他の明細を追加
            a(href="#")
                button.c-button--regular.c-button--normal(style="margin-right:10px;") 計算結果の更新
            table.c-table--mail
                thead.c-table--mail__tableHeader
                    th 商品名・コード
                    th 出荷番号
                    th 販売価格
                    th 数量
                    th 税率
                    th 小計
                    th
                tr
                    td ☆ご予約販売☆
                        br
                        | あかもく ぎばさ 秋田県男鹿の三高水産 冷凍(200g×10袋)ギバサ・アカモクはフコイダンが豊富な海藻！日本海産/ぎばさ/あかもく/ギバサ/アカモク/たけしの家庭の医学で紹介！
                        br
                        | Cafe01
                    td
                        a(href="#") 56
                    td
                        form.c-form
                            .c-form__text--small
                                input(type="text")
                    td
                        form.c-form
                            .c-form__text--extrasmall
                                input(type="text")
                    td
                        form.c-form
                            .c-form__text--extraExtrasmall
                                input(type="text")
                    td
                        |
                        strong ¥4,000
                        | (税込)
                    td
                        i.fa.fa-close(aria-hidden="true")
                tr
                    td パーコレーター
                        br
                        | Cafe01
                    td
                        a(href="#") 56
                    td
                        form.c-form
                            .c-form__text--small
                                input(type="text")
                    td
                        form.c-form
                            .c-form__text--extrasmall
                                input(type="text")
                    td
                        form.c-form
                            .c-form__text--extraExtrasmall
                                input(type="text")
                    td
                        |
                        strong ¥4,000
                        | (税込)
                    td
                        i.fa.fa-close(aria-hidden="true")
                tr
                    td パーコレーター
                        br
                        | Cafe01
                    td
                        a(href="#") 56
                    td
                        form.c-form
                            .c-form__text--small
                                input(type="text")
                    td
                        form.c-form
                            .c-form__text--extrasmall
                                input(type="text")
                    td
                        form.c-form
                            .c-form__text--extraExtrasmall
                                input(type="text")
                    td
                        |
                        strong ¥4,000
                        | (税込)
                    td
                        i.fa.fa-close(aria-hidden="true")
            .row
                .col-12
                    .mb-2
                        .row
                            .col-2
                                label 小計
                            .col-2
                                span ¥12,000
                    .mb-2
                        .row
                            .col-2
                                label 内値引き
                            .col-2
                                span -¥500
                    .mb-2
                        .row
                            .col-2
                                label 内送料
                            .col-2
                                span ¥0
                    .mb-2
                        .row
                            .col-2
                                label 内手数料
                            .col-2
                                span ¥0
            .row
                .col-12
                    .mb-2
                        .row
                            .col-2
                                label 合計
                            .col-2
                                span ¥11,500
                    .mb-2
                        .row
                            .col-2
                                label お支払い合計
                            .col-2
                                span ¥11,500

