extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title ホーム

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                span.card-title ようこそ、EC-CUBEへ――基本的な設定
                i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
        .card-body.pt-0.pr-0.pl-0
            .row.border.border-top-0.border-left-0.border-right-0.p-4.align-items-center
                .col-1.align-middle.text-center
                    i.fa.fa-flag.fa-4x.text-secondary(aria-hidden='true')
                .col-9
                    span.font-weight-bold.align-middle 特定商取引法に関する表記を設定しましょう
                    p 商品マスターに最初の商品を登録してみましょう。商品の画像を用意してください。
                .col-2.text-right.align-middle
                    a(href="").btn.btn-primary.px-4 設定する
            .row.border.border-top-0.border-left-0.border-right-0.p-4.align-items-center
                .col-1.align-middle.text-center
                    i.fa.fa-cubes.fa-4x.text-secondary(aria-hidden='true')
                .col-9
                    span.font-weight-bold.align-middle 特定商取引法に関する表記を設定しましょう
                    p 商品マスターに最初の商品を登録してみましょう。商品の画像を用意してください。
                .col-2.text-right.align-middle
                    a(href="/product/register/").btn.btn-primary.px-4 設定する
            .row.border.border-top-0.border-left-0.border-right-0.p-4.align-items-center.mb-3
                .col-1.align-middle.text-center
                    i.fa.fa-check.fa-2x.text-success(aria-hidden='true')
                .col-11
                    span.font-weight-bold.text-muted.align-middle お店の基本情報を設定しましょう
            .row
                .col.text-center.align-middle
                    a(href="/tutorial/complete").btn.btn-outline-dark すべてスキップ
    .row
        .col-4.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        a(href="/order/master")
                            span.card-title 受注状況
                .card-body.p-0
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/order/master")
                                    span.align-middle 新規受付
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-money.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/order/master")
                                    span.align-middle 入金待ち
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 24
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/order/master")
                                    span.align-middle 入金済み
                            .col-auto.text-check.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-plane.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/order/master")
                                    span.align-middle 取寄せ中
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 24
        .col-8.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 売上状況
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
                .card-body
                    .row
                        .col.text-center
                            .btn-group(data-toggle='buttons')
                                label.btn.btn-outline-secondary.px-5.active
                                    input#option1(type='radio', name='options', autocomplete='off', checked='')
                                    |  日別
                                label.btn.btn-outline-secondary.px-5
                                    input#option2(type='radio', name='options', autocomplete='off')
                                    |  週別
                                label.btn.btn-outline-secondary.px-5
                                    input#option3(type='radio', name='options', autocomplete='off')
                                    |  月別
    .row
        .col.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title ショップ状況
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
                .card-body.p-0
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/product/master")
                                    span.align-middle 在庫切れ商品数
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-exclamation-circle.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/order/master")
                                    span.align-middle 取扱商品数
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 263
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-1.align-middle.text-center.pr-5
                                i.fa.fa-cubes.fa-2x.text-secondary(aria-hidden='true')
                            .col
                                a(href="/order/master")
                                    span.align-middle 会員数
                            .col-auto.text-check.align-middle
                                span.h4.align-middle.font-weight-normal 89
        .col.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title お知らせ
                .card-body.p-0
                    .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-auto.align-middle.text-center
                                img(src="/img/top-news-sample.jpg")
                            .col
                                a.d-inline-block.mb-2(href="#") EC-CUBEペイメントをお使いの方へ、トークン決済申込お手続きのご案内です
                                p.text-muted 【2018年3月まで】クレジットカード情報の非保持化対応に、トークン決済を検討中の加盟店様はご確認下さ…
                    - for (var x = 0; x < 2; x++)
                        .d-block.p-4.border.border-top-0.border-left-0.border-right-0
                            .row.align-items-center
                                .col
                                    span.font-weight-bold.text-muted 2017/6/20
                                    p.text-muted EC-CUBEをカスタマイズして構築されたECサイトの脆弱性を洗い出す、EC-CUBE公式セキュリティ診断。詳しい資料や報告書サンプルをご用意
