extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title ホーム

block outsideBlock
    .alert.alert-primary.alert-dismissible.fade.show.m-3(role='alert')
        i.fa.fa-comment.fa-lg.mr-2
        span.font-weight-bold アラート：通常
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
    .alert.alert-success.alert-dismissible.fade.show.m-3(role='alert')
        i.fa.fa-check.fa-lg.mr-2
        span.font-weight-bold アラート：成功
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
    .alert.alert-danger.alert-dismissible.fade.show.m-3(role='alert')
        i.fa.fa-warning.fa-lg.mr-2
        span.font-weight-bold アラート：失敗
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
    .alert.alert-warning.alert-dismissible.fade.show.m-3(role='alert')
        i.fa.fa-warning.fa-lg.mr-2
        span.font-weight-bold アラート：警告
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                span.card-title ようこそ、EC-CUBEへ――基本的な設定
                i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
        .card-body.pt-0.pr-0.pl-0
            .row.border.border-top-0.border-left-0.border-right-0.p-3.align-items-center
                .col-1.align-middle.text-center
                    i.fa.fa-flag.fa-4x.text-secondary(aria-hidden='true')
                .col-9
                    span.font-weight-bold.align-middle 特定商取引法に関する表記を設定しましょう
                    p 商品マスターに最初の商品を登録してみましょう。商品の画像を用意してください。
                .col-2.text-right.align-middle
                    a(href="/setting/basis/shop").btn.btn-ec-conversion.px-4 設定する
            .row.border.border-top-0.border-left-0.border-right-0.p-3.align-items-center
                .col-1.align-middle.text-center
                    i.fa.fa-cubes.fa-4x.text-secondary(aria-hidden='true')
                .col-9
                    span.font-weight-bold.align-middle 特定商取引法に関する表記を設定しましょう
                    p 商品マスターに最初の商品を登録してみましょう。商品の画像を用意してください。
                .col-2.text-right.align-middle
                    a(href="/product/register/").btn.btn-ec-conversion.px-4 設定する
            .row.border.border-top-0.border-left-0.border-right-0.p-2.align-items-center.mb-3
                .col-1.align-middle.text-center
                    i.fa.fa-check.fa-2x.text-success(aria-hidden='true')
                .col-11
                    span.font-weight-bold.text-muted.align-middle お店の基本情報を設定しましょう
            .row
                .col.text-center.align-middle
                    a(href="/tutorial/complete").btn.btn-ec-regular すべてスキップ
    .row
        .col-4.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    a(href="/order/master")
                        span.card-title 受注状況
                .card-body.p-0
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 新規受付
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-money.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 入金待ち
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 24
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-check.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 入金済み
                            .col-auto.text-center.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-plane.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 取寄せ中
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 24
        .col-8.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span.card-title 売上状況
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
                .card-body
                    .row
                        .col.text-center
                            .btn-group.nav.d-inline-flex#pills-tab(role='tablist')
                                a#pills-daily-tab.nav-link.active.btn.btn-ec-tab.py-2.pl-4.pr-4(data-toggle='pill', href='#pills-daily', role='tab', aria-controls='pills-daily', aria-selected='true') 日別
                                a#pills-weekly-tab.nav-link.btn.btn-ec-tab.py-2.pl-4.pr-4(data-toggle='pill', href='#pills-weekly', role='tab', aria-controls='pills-weekly', aria-selected='false') 週別
                                a#pills-monthly-ta.nav-link.btn.btn-ec-tab.py-2.pl-4.pr-4(data-toggle='pill', href='#pills-monthly', role='tab', aria-controls='pills-monthly', aria-selected='false') 月別
                    .row
                        .col
                            #pills-tabContent.tab-content
                                #pills-daily.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
                                    +b.c-graf--week
                                        +e.container
                                            +e.labelVertical
                                                .c-graf__label 100,000
                                                .c-graf__label 90,000
                                                .c-graf__label 80,000
                                                .c-graf__label 70,000
                                                .c-graf__label 60,000
                                                .c-graf__label 50,000
                                                .c-graf__label 40,000
                                                .c-graf__label 30,000
                                                .c-graf__label 20,000
                                                .c-graf__label 10,000
                                                .c-graf__label 0
                                            +e.graph
                                                hr(style='top: 26px;')
                                                hr(style='top: 52px;')
                                                hr(style='top: 78px;')
                                                hr(style='top: 104px;')
                                                hr(style='top: 130px;')
                                                hr(style='top: 156px;')
                                                hr(style='top: 182px;')
                                                hr(style='top: 208px;')
                                                hr(style='top: 234px;')
                                                hr(style='top: 260px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 165px; margin-top: 96px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 82px; margin-top: 179px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 200px; margin-top: 61px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 166px; margin-top: 95px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 165px; margin-top: 96px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 82px; margin-top: 179px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 200px; margin-top: 61px;')
                                        +e.labelHorizontal
                                            .c-graf__label 月
                                            .c-graf__label 火
                                            .c-graf__label 水
                                            .c-graf__label 木
                                            .c-graf__label 金
                                            .c-graf__label 土
                                            .c-graf__label 日
                                #pills-weekly.tab-pane.fade(role='tabpanel', aria-labelledby='pills-profile-tab')
                                    +b.c-graf--week
                                        +e.container
                                            +e.labelVertical
                                                .c-graf__label 100,000
                                                .c-graf__label 90,000
                                                .c-graf__label 80,000
                                                .c-graf__label 70,000
                                                .c-graf__label 60,000
                                                .c-graf__label 50,000
                                                .c-graf__label 40,000
                                                .c-graf__label 30,000
                                                .c-graf__label 20,000
                                                .c-graf__label 10,000
                                                .c-graf__label 0
                                            +e.graph
                                                hr(style='top: 26px;')
                                                hr(style='top: 52px;')
                                                hr(style='top: 78px;')
                                                hr(style='top: 104px;')
                                                hr(style='top: 130px;')
                                                hr(style='top: 156px;')
                                                hr(style='top: 182px;')
                                                hr(style='top: 208px;')
                                                hr(style='top: 234px;')
                                                hr(style='top: 260px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 165px; margin-top: 96px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 82px; margin-top: 179px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 200px; margin-top: 61px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 166px; margin-top: 95px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 165px; margin-top: 96px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 82px; margin-top: 179px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 200px; margin-top: 61px;')
                                        +e.labelHorizontal
                                            .c-graf__label 月
                                            .c-graf__label 火
                                            .c-graf__label 水
                                            .c-graf__label 木
                                            .c-graf__label 金
                                            .c-graf__label 土
                                            .c-graf__label 日
                                #pills-monthly.tab-pane.fade(role='tabpanel', aria-labelledby='pills-contact-tab')
                                    +b.c-graf--week
                                        +e.container
                                            +e.labelVertical
                                                .c-graf__label 100,000
                                                .c-graf__label 90,000
                                                .c-graf__label 80,000
                                                .c-graf__label 70,000
                                                .c-graf__label 60,000
                                                .c-graf__label 50,000
                                                .c-graf__label 40,000
                                                .c-graf__label 30,000
                                                .c-graf__label 20,000
                                                .c-graf__label 10,000
                                                .c-graf__label 0
                                            +e.graph
                                                hr(style='top: 26px;')
                                                hr(style='top: 52px;')
                                                hr(style='top: 78px;')
                                                hr(style='top: 104px;')
                                                hr(style='top: 130px;')
                                                hr(style='top: 156px;')
                                                hr(style='top: 182px;')
                                                hr(style='top: 208px;')
                                                hr(style='top: 234px;')
                                                hr(style='top: 260px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 165px; margin-top: 96px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 82px; margin-top: 179px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 200px; margin-top: 61px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 166px; margin-top: 95px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 165px; margin-top: 96px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 82px; margin-top: 179px;')
                                                .c-graf__bar(data-tooltip='tooltip' data-placement="top" title="Tooltip" style='height: 200px; margin-top: 61px;')
                                        +e.labelHorizontal
                                            .c-graf__label 月
                                            .c-graf__label 火
                                            .c-graf__label 水
                                            .c-graf__label 木
                                            .c-graf__label 金
                                            .c-graf__label 土
                                            .c-graf__label 日

    .row
        .col.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span.card-title ショップ状況
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
                .card-body.p-0
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/product/master")
                                    span.align-middle 在庫切れ商品数
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-cubes.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/product/master")
                                    span.align-middle 取扱商品数
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 263
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-users.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/customer/master")
                                    span.align-middle 会員数
                            .col-auto.text-check.align-middle
                                span.h4.align-middle.font-weight-normal 89
        .col.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span.card-title お知らせ
                .card-body.p-0
                    .
                        <iframe name="information" class="link_list_wrap" src="https://www.ec-cube.net/info/3/" style="width:100%; border:0; min-height:300px;"></iframe>
