extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title ホーム
            //+e.SPAN.subTitle 商品管理

block primaryContents
    .card
        .card-header ようこそ、EC-CUBEへ
        .card-body
            p hoge
            hr
            p hoge
    br
    .row
        .col-sm-4
            .card
                .card-header
                    a(href="/") 受注状況
                .card-body
                    p hoge
                    hr
                    p hoge
        .col-sm-8
            .card
                .card-header 売上状況
                .card-body
                    p hoge
                    hr
                    p hoge
    br
    .row
        .col-sm-6
            .card
                .card-header ショップ状況
                .card-body
                    p hoge
                    hr
                    p hoge
        .col-sm-6
            .card
                .card-header お知らせ
                .card-body
                    p hoge
                    hr
                    p hoge
    br
block conversionArea
    +b.c-conversionArea
        +e.container
            span 公開
            span 更新


