include /node_modules/bemto.pug/bemto.pug
include /assets/tmpl/components/headerBar
include /assets/tmpl/components/mainNavArea

doctype html
html(lang="ja")
    include common/_head.pug

    body
        +c-headerBar
        .c-container
            +c-mainNavArea
            .c-curtain
            .c-contentsArea
                block pageTitle
                block outsideBlock
                .c-contentsArea__cols
                    .c-contentsArea__primaryCol
                        .c-primaryCol
                            block primaryContents
                form
                    block conversionArea