extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title 出荷登録
            +e.SPAN.subTitle 出荷管理

//- TODO マークアップ見直し必要
block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 出荷概要
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden="true")
                .col-4.text-right
                    a(data-toggle="collapse" href="#shipmentOverview" aria-expanded="false" aria-controls="shipmentOverview")
                        i.fa.fa-angle-up.fa-lg(aria-hidden="true")
        .collapse(id="shipmentOverview").show
            .card-body
                .row
                    .col-6
                        .row.mb-3.align-items-center
                            .col-3
                                span 出荷番号
                            .col-9
                                a(href="#") 345
                        .row.mb-3
                            .col-3
                                span お届け先
                            .col-9
                                label
                                    | 田口 花子（タグチ ハナコ）
                                    br
                                    | 〒000-0000
                                    br
                                    | 大阪府大阪市淀川区十三東1-17-13
                                    br
                                    |
                                    a(href="#")
                                        i.fa.fa-pencil(aria-hidden="true") お届け先の編集
                        .row.mb-3
                            .col-3
                                span 注文者
                            .col-9
                                label
                                    | 田口 花子（タグチ ハナコ）
                                    br
                                    | 〒000-0000
                                    br
                                    | 大阪府大阪市淀川区十三東1-17-13
                        .row.mb-3.align-items-center
                            .col-3
                                span 出荷伝票番号
                            .col-9
                                form
                                    input(type='text' placeholder="1234-567890").form-control
                        .row.mb-3.align-items-center
                            .col-3
                                span 発送状況
                            .col-3
                                form
                                    select.form-control
                                        option 未発送
                                        option ...
                            .col-6
                        .row.mb-3.align-items-center
                            .col-3
                                span 配送業者
                            .col-3
                                form
                                    select.form-control
                                        option ヤマト運輸
                                        option ...
                            .col-6
                    .col-6
                        .row.mb-3.align-items-center
                            .col-3
                                span
                                    i.fa.fa-calendar-check-o(aria-hidden="true") お届け希望日
                            .col-9
                                form
                                    input.form-control(type='date', value='2000-01-01')
                        .row.mb-3.align-items-center
                            .col-3
                                span
                                    i.fa.fa-clock-o(aria-hidden="true") 時間帯指定
                            .col-9
                                form
                                    select.form-control
                                        option 指定なし
                                        option ...
                        .row.mb-3.align-items-center
                            .col-3
                                span
                                    i.fa.fa-truck(aria-hidden="true") 発送日
                            .col-9
                                form
                                    input.form-control(type='date', value='2000-01-01')
                        .row.mb-3.align-items-center
                            .col-3
                                span
                                    i.fa.fa-refresh(aria-hidden="true") 最終更新日
                            .col-9
                                span 2017/09/14
                        .row.mb-3.align-items-center
                            .col-3
                                span
                                    i.fa.fa-user(aria-hidden="true") 最終更新者
                            .col-9
                                span user_name
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 出荷商品情報
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden="true")
                .col-4.text-right
                    a(data-toggle="collapse" href="#shipmentItem" aria-expanded="false" aria-controls="shipmentItem")
                        i.fa.fa-angle-up.fa-lg(aria-hidden="true")
        .collapse(id="shipmentItem").show
            .card-body
                .row.mb-2
                    .col-12
                        a(href="#")
                            button.btn.btn-light.border.border-dark 商品を追加
                table.table.table-striped.mb-0
                    thead.table-active
                        th 商品名・コード
                        th 注文番号
                        th 単価
                        th 数量
                        th 税率
                        th 小計
                        th
                    tbody
                        tr
                            td.align-middle.w-25
                                p  ☆ご予約販売☆
                                    br
                                    | あかもく ぎばさ 秋田県男鹿の三高水産 冷凍(200g×10袋)ギバサ・アカモクはフコイダンが豊富な海藻！日本海産/ぎばさ/あかもく/ギバサ/アカモク/たけしの家庭の医学で紹介！
                                span Cafe01 /  ( 材質： 金 / サイズ： 120mm )
                            td.align-middle
                                a.card-link(href="") 56
                            td.align-middle
                                span ¥5,000
                            td.align-middle
                                span 1
                            td.align-middle
                                span 8%
                            td.align-middle
                                span ¥5,400
                                small （税込）
                            td.align-middle
                                i.fa.fa-close.fa-lg(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        tr
                            td.align-middle.w-25
                                p  パーコレーター
                                span Cafe01
                            td.align-middle
                                a.card-link(href="") 57
                            td.align-middle
                                span ¥5,000
                            td.align-middle
                                span 1
                            td.align-middle
                                span 8%
                            td.align-middle
                                span ¥5,400
                                small （税込）
                            td.align-middle
                                i.fa.fa-close.fa-lg(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        tr
                            td.align-middle.w-25
                                p  パーコレーター
                                span Cafe01
                            td.align-middle
                                a.card-link(href="") 56
                            td.align-middle
                                span ¥5,000
                            td.align-middle
                                span 1
                            td.align-middle
                                span 8%
                            td.align-middle
                                span ¥5,400
                                small （税込）
                            td.align-middle
                                i.fa.fa-close.fa-lg(data-toggle="tooltip" data-placement="top" title="Tooltip")
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 配達用メモ欄
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#freeArea" aria-expanded="false" aria-controls="freeArea")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="freeArea").show
            .card-body
                form
                    .form-group
                        textarea(rows="8" placeholder="テキスト").form-control

block conversionArea
    +b.c-conversionArea
        +e.container
            .row.justify-content-between.align-items-center
                .col-6
                    +e.leftBlockItem
                        a(href="/shipment/master").c-beseLink
                            i.fa.fa-backward(aria-hidden="true")
                            span 出荷マスター
                .col-6
                    .row.align-items-center.justify-content-end
                        .col-auto
                            button(type="submit").btn.btn-primary.px-4 出荷情報を登録