extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title ページ管理
            +e.SPAN.subTitle コンテンツ管理

//- TODO マークアップ見直し必要
block primaryContents
    +b.c-outsideBlock
        .row.mb-2
            .col-9.text-left
                button.c-button--regular.c-button--normal(style='margin-right:10px;') 新規追加
            .col-3.text-right
                form.c-searchBox
                    .c-searchBox__form
                        input(type='text')
                    a.c-searchBox__btn
                        i.fa.fa-search
    +b.c-block
        +e.contents
            table.c-customerTable
                thead.c-customerTable__tableHeader
                    th ページ名
                    th レイアウト
                    th
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times
                tr
                    td
                        a(href="#") MYページ/会員登録内容変更(入力ページ)
                    td
                        i.fa.fa-desktop(aria-hidden="true")
                        | 下層ページ用レイアウト（PC）
                        br
                        |
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                        | 下層ページ用レイアウト（SP）
                    td
                        a.c-customerTable__delete(href='#')
                            i.fa.fa-times