extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("メール設定","基本情報設定")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            span.card-title メールテンプレート編集
        .card-body
            .row.mb-2
                .col-2
                    span テンプレート
                    i.fa.fa-question-circle.fa-lg.ml-1
                .col-10
                    form
                        select.form-control
                            option 選択してください
                            option ...
            .row.mb-2
                .col-2
                    span 件名
                    span.badge.badge-primary.ml-1 必須
                .col-10
                    form
                        input.form-control(type='text')
            .row.mb-2
                .col-2
                    span 本文コード編集
                    span.badge.badge-primary.ml-1 必須
                .col-10
                    pre
                        code {#
                            br
                            |This file is part of EC-CUBE
                            br
                            |...
            .row.mb-2
                .col-2
                    span メールヘッダー
                .col-10
                    form
                        textarea(rows="8").form-control
            .row
                .col-2
                    span メールフッター
                .col-10
                    form
                        textarea(rows="8").form-control