extends /assets/tmpl/moc/layout/_layout-3col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("カテゴリ管理","商品管理")

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row
                .col-6
                    .c-breadcrumbs
                        a(href="") すべてのカテゴリ
                        a カテゴリA
                .col-6.text-right
                    .c-tab--regular
                        a(href="").c-tab__item
                            i.fa.fa-cloud-download
                            span CSVダウンロード
                        a(href="").c-tab__item
                            i.fa.fa-cog
                            span CSV出力設定

block primaryContents
    .c-block
        .c-block__contents--noPaddingAll
            include /assets/tmpl/components/table.pug
            +c-sortTable("カテゴリA","カテゴリB","カテゴリC")
    p 項目の順番はドラッグ＆ドロップでも変更可能です。

block secondaryContents
    +b.c-block
        +e.heading
            span すべてのカテゴリ
        +e.contents
            include /assets/tmpl/components/category.pug
            +c-category