extends /assets/tmpl/moc/layout/_layout-3col.pug
block outsideBlock
    +b.c-outsideBlock
        +e.contents.mb-2
            .row
                .col-6
                    nav(aria-label='breadcrumb', role='navigation')
                        ol.breadcrumb.mb-2.p-0
                            li.breadcrumb-item
                                a(href='#') すべてのカテゴリ
                            li.breadcrumb-item.active(aria-current='page') カテゴリA
                .col-6.text-right
                    .btn-group(role='group')
                        button.btn.btn-ec-regular(type='button')
                            i.fa.fa-cloud-download.mr-1.text-secondary
                            span CSVダウンロード
                        button.btn.btn-ec-regular(type='button')
                            i.fa.fa-cog.mr-1.text-secondary
                            span CSV出力設定

block pageTitle
    include /assets/tmpl/components/pageTitle
    +c-pageTitle("カテゴリ管理","商品管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-body.p-0
            .card.rounded.border-0.mb-2
                ul.list-group.list-group-flush
                    li.list-group-item
                        form.form-row
                            .col-auto
                                input(type="text").form-control
                            .col-auto
                                button(type="submit").btn.btn-ec-regular 新規作成
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a(href="/product/standard/detail") カテゴリA
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a(href="/product/standard/detail") カテゴリB
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        form.form-row
                            .col-auto.d-flex.align-items-center
                                input(type="text").form-control
                            .col-auto.d-flex.align-items-center
                                button(type="submit").btn.btn-ec-conversion 決定
                            .col-auto.d-flex.align-items-center
                                button(type="submit").btn.btn-ec-sub キャンセル
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a(href="/product/standard/detail") カテゴリC
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
    p 項目の順番はドラッグ＆ドロップでも変更可能です。

block secondaryContents
    .card.rounded.border-0.mb-4
        .card-header
            span.card-title 全てのカテゴリ
        .card-body
            include /assets/tmpl/components/directory.pug
            +c-directoryTree
