extends /assets/tmpl/moc/layout/_layout-3col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title カテゴリ管理
            +e.SPAN.subTitle 管理商品
block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row
                .col-6
                    .c-breadcrumbs
                        a(href="") すべてのカテゴリ
                        a カテゴリA
                .col-6.text-right
                    .c-tab--regular
                        a(href="").c-tab__item
                            i.fa.fa-cloud-download
                            span CSVダウンロード
                        a(href="").c-tab__item
                            i.fa.fa-cog
                            span CSV出力設定

block primaryContents
    .c-block
        .c-block__contents--noPaddingAll
            include /assets/tmpl/components/table.pug
            +c-sortTable--category
    p 項目の順番はドラッグ＆ドロップでも変更可能です。

block secondaryContents
    +b.c-block
        +e.heading
            .c-toolTip
                span.c-toolTip__title すべてのカテゴリ
                i.fa.fa-question-circle.c-toolTip__icon
        +e.contents
            include /assets/tmpl/components/category.pug
            +c-category

block conversionArea
    +b.c-conversionArea
        +e.container
            span 公開
            span 更新


