extends /assets/tmpl/moc/layout/_layout-3col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("商品登録","商品管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 基本設定
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#basicConfig" aria-expanded="false" aria-controls="basicConfig")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="basicConfig").show
            .card-body
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 商品名
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col
                        p 12
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 商品ID
                            i.fa.fa-question-circle.fa-lg.ml-1
                            span.badge.badge-primary.ml-1 必須
                    .col.mb-2
                        form
                            input(type="text" placeholder="テキスト").form-control
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 商品種別
                            i.fa.fa-question-circle.fa-lg.ml-1
                            span.badge.badge-primary.ml-1 必須
                    .col.mb-2
                        form
                            select.form-control
                                option(value='') 通常商品
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 商品画像
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col.mb-2
                        form
                            input(type="file").form-control-file
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 商品説明
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col
                        form
                            textarea(rows="8").form-control
                        .d-inline-block.mb-2
                            i.fa.fa-plus-square-o.font-weight-bold.mr-1
                            span.font-weight-bold 一覧コメントを追加
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 販売価格
                            i.fa.fa-question-circle.fa-lg.ml-1
                            span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            input(type="text" placeholder="テキスト").form-control
                        .d-inline-block.mb-2
                            i.fa.fa-plus-square-o.font-weight-bold.mr-1
                            span.font-weight-bold 通常価格を追加
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 在庫数
                            i.fa.fa-question-circle.fa-lg.ml-1
                            span.badge.badge-primary.ml-1 必須
                    .col
                        form
                            input(type="text" placeholder="テキスト").form-control
                            .form-check.mb-2
                                label.form-check-label
                                    input.form-check-input(type="checkbox")
                                    span 無制限
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span 検索ワード
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col.mb-2
                        form
                            input(type="text" placeholder="テキスト").form-control
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 規格設定
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#standardConfig" aria-expanded="false" aria-controls="standardConfig")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="standardConfig").show
            .card-body
                .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                    span この商品の規格
                    i.fa.fa-question-circle.fa-lg.ml-1
                table.table.table-striped
                    thead.table-active
                        th 規格１
                        th 規格２
                        th 商品コード
                        th 在庫数
                        th 販売価格（円）
                    tbody
                        tr
                            td プラチナ
                            td 100cm
                            td aa-001
                            td 4
                            td 10,000
                        tr
                            td プラチナ
                            td 130cm
                            td aa-002
                            td 8
                            td 10,000
                        tr
                            td シルバー
                            td 100cm
                            td aa-003
                            td 4
                            td 8,000
                        tr
                            td シルバー
                            td 130cm
                            td aa-004
                            td 6
                            td 8,000
                .d-block.text-center.text-center
                    button(type="button" data-toggle="modal" data-target="#confirmModal").btn.btn-outline-dark この商品の規格管理
                    #confirmModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmModal', aria-hidden='true')
                        .modal-dialog(role='document')
                            .modal-content
                                .modal-header
                                    h5.modal-title ページを移動します。
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                .modal-body
                                    p 規格の管理画面に移動します。商品情報を保存してから移動しますか？
                                .modal-footer
                                    a(href="/product/register/standard").btn.btn-primary 変更を保存
                                    button.btn.btn-secondary(type='button', data-dismiss='modal') キャンセル



    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title フリーエリア
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#freeArea" aria-expanded="false" aria-controls="freeArea")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="freeArea").show
            .card-body
                .row
                    .col-3
                        .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            span フリーエリア
                            i.fa.fa-question-circle.fa-lg.ml-1
                    .col-9
                        form
                            textarea(rows="8" placeholder="テキスト").form-control

block secondaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title カテゴリ
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="category")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="category").show
            .card-body
                form.mb-3
                    .form-row
                        .col
                            input.form-control(type="search" placeholder="カテゴリ検索" aria-label="Search")
                        .col-auto
                            button.btn.btn-light(type="submit"): i.fa.fa-search
                include /assets/tmpl/components/directory.pug
                +c-directoryTreeRegister

                .d-block.text-center
                    button(type="button").btn.btn-block.btn-outline-dark カテゴリの追加・編集

    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title タグ
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#tag" aria-expanded="false" aria-controls="tag")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="tag").show
            .card-body
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-primary(type='button') オススメ
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-secondary(type='button') 限定品
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-primary(type='button') 新入荷
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-secondary(type='button') 値下げしました
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-primary(type='button') オススメ
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-secondary(type='button') 限定品
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-primary(type='button') 新入荷
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-secondary(type='button') 値下げしました
                .d-inline-block.mb-2.mr-2
                    button.btn.btn-outline-secondary(type='button') 送料無料
                .d-block.mb-3
                    i.fa.fa-plus-square-o.font-weight-bold.mr-1
                    span.font-weight-bold 全てのタグを表示
                .d-block.text-center
                    button(type="button").btn.btn-block.btn-outline-dark タグの追加・編集

    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 登録日・更新日
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#update" aria-expanded="false" aria-controls="update")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="update").show
            .card-body
                .row.mb-2
                    .col
                        i.fa.fa-flag.mr-1
                        span 登録日
                    .col
                        span ：2017/11/09
                .row.mb-2
                    .col
                        i.fa.fa-refresh.mr-1
                        span 最終更新日
                    .col
                        span ：2017/11/12
                .row.mb-2
                    .col
                        i.fa.fa-user.mr-1
                        span 最終更新者
                    .col
                        span ：user_name

    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title ショップ用メモ
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#shopMemo" aria-expanded="false" aria-controls="shopMemo")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="shopMemo").show
            .card-body
                form
                    textarea(rows="8" placeholder="テキスト").form-control

block conversionArea
    +b.c-conversionArea
        +e.container
            .row.justify-content-between.align-items-center
                .col-6
                    +e.leftBlockItem
                        a(href="").c-beseLink
                            i.fa.fa-backward(aria-hidden="true")
                            span 商品マスター
                .col-6
                    .row.align-items-center.justify-content-end
                        .col-auto
                            include /assets/tmpl/components/toggleSwitch.pug
                            +c-toggleSwitch--conversion('switch','公開')
                        .col-auto
                            button(type="submit").btn.btn-primary.px-5 更新