extends /assets/tmpl/moc/layout/_layout-3col
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("ファイル管理","コンテンツ管理")

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            nav(aria-label='breadcrumb', role='navigation')
                ol.breadcrumb.mb-2.p-0
                    li.breadcrumb-item
                        a(href='#') user_data
                    li.breadcrumb-item.active(aria-current='page') 電子書籍
            .card.rounded.border-0.mb-4
                .card-header
                    span.card-title ファイル・フォルダを追加
                .card-body
                    .row.mb-2
                        .col-2
                            span ファイルを追加
                        .col
                            form.mb-2
                                input(type="file").form-control-file
                            button(type="submit").btn.btn-ec-conversion アップロード
                    .row.mb-2
                        .col-2
                            span フォルダを追加
                        .col
                            form.form-row
                                .col-3
                                    input(type="text" placeholder="フォルダ名").form-control
                                .col-auto
                                    button(type="submit").btn.btn-ec-regular 新規作成
block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    span.card-title このフォルダ内のファイル
                .col-4.text-right
                    a(data-toggle="collapse" href="#fileList" aria-expanded="false" aria-controls="fileList")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="fileList").show
            .card-body.p-0
                table.table
                    tbody
                        tr
                            td.align-middle.text-center
                                i.fa.fa-folder-o.fa-2x
                            td.align-middle
                                a(href='#') foldername
                            td.align-middle
                            td.align-middle
                            td.align-middle.text-right
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                i.fa.fa-folder-o.fa-2x
                            td.align-middle
                                a(href='#') foldername
                            td.align-middle
                            td.align-middle
                            td.align-middle.text-right
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                .d-inline-block.p-3.bg-light
                                    i.fa.fa-file-pdf-o.fa-2x
                            td.align-middle
                                a(href='#') filename.pdf
                            td.align-middle 24KB
                            td.align-middle 2017/01/12 更新
                            td.align-middle.text-right
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-cloud-download.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                .d-inline-block.p-3.bg-light
                                    i.fa.fa-file-audio-o.fa-2x
                            td.align-middle filename.mp3
                            td.align-middle 24KB
                            td.align-middle 2017/01/12 更新
                            td.align-middle.text-right
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-cloud-download.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                .d-inline-block.p-3.bg-light
                                    i.fa.fa-film.fa-2x
                            td.align-middle filename.mov
                            td.align-middle 24KB
                            td.align-middle 2017/01/12 更新
                            td.align-middle.text-right
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-cloud-download.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                .d-inline-block.p-3.bg-light
                                    i.fa.fa-file-archive-o.fa-2x
                            td.align-middle filename.zip
                            td.align-middle 24KB
                            td.align-middle 2017/01/12 更新
                            td.align-middle.text-right
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-cloud-download.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                .d-inline-block.p-3.bg-light
                                    i.fa.fa-file-o.fa-2x
                            td.align-middle filename.xlsx
                            td.align-middle 24KB
                            td.align-middle 2017/01/12 更新
                            td.align-middle.text-right
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-cloud-download.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                        tr
                            td.align-middle.text-center
                                .d-inline-block
                                    img(width="60px" height="60px" src="http://via.placeholder.com/350x150")
                            td.align-middle filename.xlsx
                            td.align-middle 24KB
                            td.align-middle 2017/01/12 更新
                            td.align-middle.text-right
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block.mr-3(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-cloud-download.fa-lg.text-secondary(aria-hidden="true")
                                .d-inline-block(data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
block secondaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    span.card-title フォルダ構成
                .col-4.text-right
                    a(data-toggle="collapse" href="#folderDirectory" aria-expanded="false" aria-controls="folderDirectory")
                        i.fa.fa-angle-up.fa-lg
        .collapse(id="folderDirectory").show
            .card-body
                include /assets/tmpl/components/directory.pug
                +c-directoryTreeFolder
