extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title ファイル管理
            +e.SPAN.subTitle コンテンツ管理

//- TODO マークアップ見直し必要
block primaryContents
    +b.c-outsideBlock
        +e.contents
            form.c-form
                label user_data
                i.fa.fa-chevron-right(aria-hidden="true")
                label 電子書籍
    +b.c-block
        +e.heading
            +e.titles
                +b.c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                    span.c-toolTip__title ファイル・フォルダを追加
        +e.contents
            .row.mb-2
                .col-2
                    span ファイルを追加
                .col-10
                    a.c-button--small.c-button--normal(href="#") ファイルを選択
            .row.mb-2
                .col-2
                    span &nbsp;
                .col-10
                    a.c-button--regular.c-button--conversion(href="#") アップロード
            .row
                .col-2
                    span フォルダを追加
                .col-10
                    form.c-form
                        .c-form__text--regular
                            input(type="text" placeholder="フォルダ名")
                            button.c-button--regular.c-button--normal(style="margin-right:10px;") 新規作成
    .c-contentsArea__cols
        .c-contentsArea__primaryCol
            .c-primaryCol
                +b.c-block
                    +e.heading
                        +e.titles
                            +b.c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                                span.c-toolTip__title このフォルダ内のファイル
                        +e.toggle
                            i.fa.fa-chevron-up(aria-hidden="true")
                    +e.contents
                        table.table
                            tbody
                                tr
                                    td
                                        i.fa.fa-folder-o(aria-hidden="true")
                                    td
                                        a(href="#") foldername
                                    td
                                    td
                                    td
                                    td
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-folder-o(aria-hidden="true")
                                    td
                                        a(href="#") foldername
                                    td
                                    td
                                    td
                                    td
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-file-pdf-o(aria-hidden="true")
                                    td filename.pdf
                                    td 24KB
                                    td 2017/01/12 更新
                                    td
                                        i.fa.fa-eye(aria-hidden="true")
                                    td
                                        i.fa.fa-cloud-download(aria-hidden="true")
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-file-audio-o(aria-hidden="true")
                                    td filename.mp3
                                    td 24KB
                                    td 2017/01/12 更新
                                    td
                                        i.fa.fa-eye(aria-hidden="true")
                                    td
                                        i.fa.fa-cloud-download(aria-hidden="true")
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-film(aria-hidden="true")
                                    td filename.mov
                                    td 24KB
                                    td 2017/01/12 更新
                                    td
                                        i.fa.fa-eye(aria-hidden="true")
                                    td
                                        i.fa.fa-cloud-download(aria-hidden="true")
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-file-archive-o(aria-hidden="true")
                                    td filename.zip
                                    td 24KB
                                    td 2017/01/12 更新
                                    td
                                        i.fa.fa-eye(aria-hidden="true")
                                    td
                                        i.fa.fa-cloud-download(aria-hidden="true")
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-file-o(aria-hidden="true")
                                    td filename.xlsx
                                    td 24KB
                                    td 2017/01/12 更新
                                    td
                                        i.fa.fa-eye(aria-hidden="true")
                                    td
                                        i.fa.fa-cloud-download(aria-hidden="true")
                                    td
                                        i.fa.fa-close(aria-hidden="true")
                                tr
                                    td
                                        i.fa.fa-file-o(aria-hidden="true")
                                    td filename.jpg
                                    td 24KB
                                    td 2017/01/12 更新
                                    td
                                        i.fa.fa-eye(aria-hidden="true")
                                    td
                                        i.fa.fa-cloud-download(aria-hidden="true")
                                    td
                                        i.fa.fa-close(aria-hidden="true")
        .c-contentsArea__secondaryCol
            .c-secondaryCol
                +b.c-block
                    +e.heading
                        +e.titles
                            +b.c-toolTip(data-toggle="tooltip" data-placement="top" title="Tooltip")
                                span.c-toolTip__title フォルダ構成
                        +e.toggle
                            i.fa.fa-chevron-up(aria-hidden="true")
                    +e.contents
                        .c-category--register
                            ul
                                li
                                    label.c-categoryLayer1
                                        i.fa.fa-folder-open-o(aria-hidden="true") user_data
                                    ul
                                        li
                                            label.c-categoryLayer2
                                                i.fa.fa-folder-open-o(aria-hidden="true") pdf
                                            ul
                                                li
                                                    label.c-categoryLayer3
                                                        i.fa.fa-folder-o(aria-hidden="true") フォルダA
                                                li
                                                    label.c-categoryLayer3
                                                        i.fa.fa-folder-o(aria-hidden="true") フォルダB
                                                li
                                                    label.c-categoryLayer3
                                                        i.fa.fa-folder-open-o(aria-hidden="true") 電子書籍
                                                    ul
                                                        li
                                                            label.c-categoryLayer4
                                                                i.fa.fa-folder-o(aria-hidden="true") 実用書
                                        li
                                            label.c-categoryLayer2
                                                i.fa.fa-folder-o(aria-hidden="true") images