extends /assets/tmpl/moc/layout/_layout.pug

block primaryContents
    .row.justify-content-center(style="margin-top: 30vh;")
        .text-center
            .card.rounded.border-0.mb-4
                .card-body.p-5
                    .d-block.mb-3
                        img(src="/img/logo2.png")
                    form
                        .form-group.text-left
                            label ログインID
                            input(type="text").form-control
                    form
                        .form-group.text-left
                            label パスワード
                            input(type="password").form-control.is-invalid
                            .invalid-feedback
                                | ログインできませんでした。IDとパスワードを確認してください
                    .d-block
                            a(href="/").btn.btn-ec-conversion.btn-block.btn-lg ログイン
            small.text-secondary Copyright © 2000-2017 LOCKON CO.,LTD. All Rights Reserved.