@import "../library/_variable";
@import "../mixin/_media";

/*
サブコンテンツ

メインとなるコンテンツの補助として存在し、表示/非表示を切り替えることのできるコンテンツです。

Markup:
+b.c-subContents
  .row
    .col-6
      .mb-4
        label 会員種別
        form.c-form
          .c-form__radio
            input(type="radio" name="filter" value="open" checked="checked")
            span 仮会員
          .c-form__radio
            input(type="radio" name="filter" value="close")
            span 本会員
    .col-6
      .mb-4
        label 購入商品名
        form.c-form
          .c-form__text
            input(type="text")
  +e.action
    button.c-button--regular.c-button--normal 検索条件クリア

Styleguide 4.5
*/
.c-subContents {
  background: $paleBlue100;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $paleBlue100 transparent;
    position: absolute;
    top: -9px;
    left: 10px;
  }
  &__action {
    text-align: center;
  }
}
