@import "../library/_variable";
@import "../mixin/_media";
/*
ブロック外コンテンツ

コンテンツエリア上部に配置されます。ブロックに内包されないコンテンツグループです。

sg-wrapper:
<div class="c-contentsArea">
  <sg-wrapper-content/>
</div>

Markup:
+b.c-outsideBlock
  +e.contents
    .row
      .col-6
        form.c-form
          label 会員ID・メールアドレス・お名前
          .c-form__text
            input(type="text")
      .col-6
    .row
      .col-12
        include /assets/tmpl/components/subAction.pug
        +c-subAction("詳細検索","is-active")

Styleguide 8.1
*/

.c-outsideBlock {
  width: 100%;
  &__contents {
    padding: 0 15px;
  }
}
