@import "../library/_variable";
@import "../mixin/_media";
/*
ブロック

コンテンツエリアに配置されます。あるひとつのテーマをもった表示単位であり、
原則としてタイトルをもちます。ブロック内部にコンテンツやフォームを、テーマにそってまとめます。

Markup:
.c-block

Styleguide 8.0
*/

.c-block {
  border-radius: 4px;
  margin-bottom: 20px;
  background: #fff;
  color: $black85;
  font-size: 14px;
  &__heading {
    display: table;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid $black20;
  }
  &__titles {
    display: table-cell;
  }
  &__toggle {
    display: table-cell;
    width: 20px;
    text-center: right;
    vertical-align: middle;
    i {
      font-size: 20px;
    }
  }
  &__contents {
    padding: 15px;
  }
  &__contents--noPadding {
    padding: 15px 0;
  }
  &__action {
    width: 100%;
    text-align: center;
  }
}


/*
ページタイトル

ページタイトルを表示します。

Markup:
.c-secondaryCol

Styleguide 8.1
*/
.c-pageTitle {
  display: table;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  background: #fff;
  &__titles {
    display: table-cell;
}
  &__title {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 20px;
    vertical-align: middle;
  }
  &__subTitle {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
  }
  // todo コンバージョンエリアに移動　
  //&__beseLink {
  //  display: table-cell;
  //  width: 200px;
  //  text-align: right;
  //  font-size: 16px;
  //  vertical-align: middle;
  //
  //  a {
  //    color: $black;
  //    &:hover {
  //     opacity: .5;
  //    }
  //  }
  //
  //  i {
  //    display: inline-block;
  //    margin-right: 10px;
  //  }
  //  span {
  //    display: inline-block;
  //  }
  //}
}