@import "../library/_variable";
@import "../mixin/_media";
/*
ブロック

コンテンツエリアに配置されます。あるひとつのテーマをもった表示単位であり、
原則としてタイトルをもちます。ブロック内部にコンテンツやフォームを、テーマにそってまとめます。

Markup:
.c-block

Styleguide 8.0
*/

.c-block {
  border-radius: 4px;
  margin-bottom: 20px;
  background: #fff;
  color: $black85;
  font-size: 14px;
  &__heading {
    display: table;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid $black20;
  }
  &__titles {
    display: table-cell;
  }
  // TODO トグル以外も入るので名前検討
  &__toggle {
    display: table-cell;
    min-width: 20px;
    text-align: right;
    vertical-align: middle;
    i {
      font-size: 20px;
    }
  }
  &__contents {
    padding: 15px;
  }
  &__contents--noPadding {
    padding: 15px 0;
  }
  &__contents--noPaddingAll {
    padding: 0;
  }
  &__action {
    width: 100%;
    text-align: center;
  }
}

/*
ブロック外コンテンツ

コンテンツエリア上部に配置されます。ブロックに内包されないコンテンツグループです。

Markup:
+b.c-outsideBlock
  +e.contents

Styleguide 8.1
*/

.c-outsideBlock {
  width: 100%;
  &__contents {
    padding: 0 15px;
  }
}
