@import "../library/_variable";
@import "../mixin/_media";

/*
コンテナー

コンテンツの表示幅を定義しています。最大サイズは2500px、最小サイズは1024pxです。
メインナビエリアとコンテンツエリアを内包します。デバイスサイズが1024pxより小さくなる場合、画面に表示しきれない要素は右スクロールで表示することができます。

Markup:
.c-container

Styleguide 1.0
*/

.c-container {
  margin: 0 auto;
  margin-top: 65px;
  width: 100%;
  max-width: 2500px;
  min-width: 1024px;
}

.c-curtain {
  width: 0;
  height: 0;
  opacity:0;
  //transition: opacity 0.5s 0.4s, width 0.1s, height 0.1s;
}

.c-curtain.is-active {
  width: 0;
  height: 0;
  opacity:0;
  transition: opacity 0.3s 0.1s, width 0.1s, height 0.1s;
  @include media_sp {
    display: block;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background: rgba(0,0,0,.6);
    z-index: 300;
    position: fixed;
  }


}