@import "../library/_variable";
@import "../mixin/_media";
/*
ディレクトリツリー

ディレクトリ構造をツリー形式で表示します。
選択中のタブ`.c-dietriTree`直下の`ul > li`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/directory.pug
+c-directoryTree

Styleguide 21.0
*/
.c-directoryTree {
  //1層目
  label {
    &::before {
      content: "\f147";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }
  label[data-toggle="collapse"] {
    &::before {
      content: "\f147";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }

  label.collapsed {
    &::before {
      content: "\f196";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }
  //2層目以降
  ul >li > ul {
    li > label {
      margin-left: 10px;
      position: relative;
      span {
        display: inline-block;
        margin-left: 16px;
      }

    }
    li:not(:last-of-type) > label::before {
      margin-left: 2px;
      margin-right: .5em;
      content: "├";
      display: inline-block;
      width: 1em;
      height: 1em;
    }

    li:last-of-type > label::before  {
      margin-right: .6em;
      content: "└";
      display: inline-block;
      width: 1em;
      height: 1em;
    }
    label {
      &::after {
        content: "\f147";
        display: inline-block;
        margin-right: .5em;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
        left: 20px;
      }
    }
    label[data-toggle="collapse"] {
      &::after {
        content: "\f147";
        display: inline-block;
        margin-right: .5em;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
        left: 20px;
      }
    }
    label.collapsed {
      &::after {
        content: "\f196";
        display: inline-block;
        margin-right: .5em;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
        left: 20px;
      }
    }
  }
  //3層目
  ul >li ul >li ul  {
    li > label {
      margin-left: 20px;
    }
  }
  //4層目
  ul >li ul >li ul > li ul  {
    li > label {
      margin-left: 30px;
    }
  }
}


/*
カテゴリ登録

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/directory.pug
+c-directoryTreeRegister

Styleguide 21.1
*/
.c-directoryTree--register {
  max-height: 300px;
  overflow: scroll;

  //2層目以降
  ul >li > ul {
    li > label {
      margin-left: 10px;
    }
    li:not(:last-of-type) > label::before {
      margin-left: 2px;
      margin-right: .5em;
      content: "├";
      display: inline-block;
      width: 1em;
      height: 1em;
    }

    li:last-of-type > label::before  {
      margin-right: .6em;
      content: "└";
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }
  //3層目
  ul >li ul >li ul  {
    li > label {
      margin-left: 20px;
    }
  }
  //4層目
  ul >li ul >li ul > li ul  {
    li > label {
      margin-left: 30px;
    }
  }
}

/*
フォルダー

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/directory.pug
+c-directoryTreeRegister

Styleguide 21.2
*/

.c-directoryTree--folder {
  //1層目
  label {
    &::before {
      content: "\f114";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }
  label[data-toggle="collapse"] {
    &::before {
      content: "\f115";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;

    }
  }
  label.collapsed {
    &::before {
      content: "\f114";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }
  //2層目以降
  ul >li > ul {
    li > label {
      margin-left: 10px;
      position: relative;
      span {
        display: inline-block;
        margin-left: 16px;
      }
    }
    li:not(:last-of-type) > label::before {
      margin-left: 2px;
      margin-right: .5em;
      content: "├";
      display: inline-block;
      width: 1em;
      height: 1em;
    }

    li:last-of-type > label::before  {
      margin-right: .6em;
      content: "└";
      display: inline-block;
      width: 1em;
      height: 1em;
    }
    label {
      &::after {
        content: "\f114";
        display: inline-block;
        margin-right: .5em;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
        left: 20px;
      }
    }
    label[data-toggle="collapse"] {
      &::after {
        content: "\f115";
        display: inline-block;
        margin-right: .5em;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
        left: 20px;
      }
    }
    label.collapsed {
      &::after {
        content: "\f114";
        display: inline-block;
        margin-right: .5em;
        font-family: FontAwesome;
        font-size: 16px;
        position: absolute;
        left: 20px;
      }
    }
  }
  //3層目
  ul >li ul >li ul  {
    li > label {
      margin-left: 20px;
    }
  }
  //4層目
  ul >li ul >li ul > li ul  {
    li > label {
      margin-left: 30px;
    }
  }
}
