@import "../library/_variable";
@import "../mixin/_media";

/*
ヘッダーバー

画面上部に固定表示されます。ロゴ・店舗名（および店舗ページへのリンク）・ユーザメニューが含まれます。

Markup:
include /assets/tmpl/components/headerBar.pug
+c-headerBar

Styleguide 2.0
*/

.c-headerBar {
  width: 100%;
  height: 65px;
  color: #fff;
  background: $ecCube_navy;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 10000;
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__container {
    display: table;
    width: 100%;
    max-width: 2500px;
  }

  &__logo {
    display: table-cell;
    padding: 0 20px;
    width: 200px;
    height: 65px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    img {
      width: 172px;
      height: 25px;
    }
    @include media_sp {
      display: none;
    }
  }
  &__toggleBtn {
    display: none;
    padding: 0 20px;
    width: 65px;
    height: 65px;
    font-size: 30px;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    @include media_sp{
      display: table-cell;
    }

    &:hover {
      background: $white15;
    }
  }
  &__shopTitle {
    display: table-cell;
    padding: 0 20px;
    height: 65px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;

    &:hover {
      background: $white15;
    }

    .fa-angle-right {
      padding-left: 15px;
      font-size: 21px;
    }
  }
  &__userMenu {
    display: table-cell;
    padding: 0 20px;
    width: 170px;
    height: 65px;
    color: #fff;
    vertical-align: middle;

    &:hover {
      background: $white15;
    }

    span {
      font-weight: bold;
      vertical-align: middle;
    }
    .fa-angle-down {
      padding-left: 10px;
      font-size: 24px;
      vertical-align: middle;
    }
    .fa-user-circle {
      padding-right: 10px;
      font-size: 34px;
      vertical-align: middle;
    }
  }

}
