@import "../library/_variable";
@import "../mixin/_media";

/*
会員管理テーブル

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/table.pug
+c-table--customer

Styleguide 12.0
*/
.c-customerTable{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  &__tableHeader {
    border-bottom: 1px solid $black20;
    th {
      padding: 10px 20px;
      font-weight: bold;
      color: $black85;
    }
  }
  &__tableHeader:first-child {
    border-bottom: 2px solid $black20;
  }
  tr {
    border-bottom: 1px solid $black20;
  }
  td {
    padding: 10px 20px;
    color: $black85;
    a {
      color: $blue;
      &:hover {
        opacity: .5;
      }
    }

  }
  &__delete {
    font-size: 20px;
    text-align: center;
    color: $navy70;
    a,i {
      display: inline-block;
      color: $navy70;
      font-size: 20px;
      &:hover {
        opacity: .5;
      }
    }
  }
}

/*
ページネーション

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/pagination.pug
+c-pagenation

Styleguide 12.1
*/
.c-pagination {
  width:100%;
  text-align: center;
  margin-bottom: 20px;
  &__list {
    display: inline-block;
    border: 1px solid $black65;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: $black65;
    background: #fff;
    &:hover {
      text-decoration: none;
      color: $black65;
      background: $black05;
    }
  }
  &__list:not(last-child) {
    margin-right: 10px;
  }
  &__list.is-active {
    color: #fff;
    background: $black65;
  }
}


/*
規格テーブル

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/pagination.pug
+c-pagenation

Styleguide 12.2
*/
.c-standardTable {
  width: 100%;
  margin-bottom: 20px;
  &__tableHeader {
    th {
      border-top: 1px solid #a3a3a3;
      background-color: #f2f2f2;
      padding: 10px;
    }

  }
  tr {
    border-bottom: 1px solid #ccc;
  }
  tr:nth-child(odd):not(first-child) {
    background-color: #f9f9f9;
  }
  td {
    padding: 10px 0;
    padding-left: 10px;
  }
}

/*
ツールチップ TODO　コーディング途中

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
.c-toolTip
  span.c-toolTip__title 商品ID
  i.fa.fa-question-circle.c-toolTip__icon
  .c-requiredLabel
      span 必須

Styleguide 12.3
*/
.c-toolTip {
  display: inline-block;
  &__title {
  }
  &__icon {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
  }
}


/*
検索ボックス

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/pagination.pug
+c-pagenation

Styleguide 12.4
*/
.c-search {
  display: flex;
  margin-bottom: 10px;
  &__form {
    width: calc(100% - 40px);
    input {

      border-radius: 4px;
      border: 1px solid #ccc;
      padding: .5rem;
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      font-size: 14px;
      color: $black85;
      background: #fff;
      &:focus {
        outline: none;
        border: 1px solid $lochmara;
      }
      &:placeholder {
        color: $black40;
      }
    }
  }
  &__btn {
    margin-left: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f9f9f9;
    color: $navy60;
    cursor: pointer;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    &:hover {
      opacity: .5;
    }
    i {
      color: $navy60;
    }
  }
}


/*
カテゴリ(商品登録)

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/category.pug
+c-categoryRegister

Styleguide 12.5
*/
.c-category--register {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 300px;
  padding: 10px;
  overflow: scroll;
  //2層目以降
  ul >li > ul {
    li > label {
      margin-left: 10px;
    }
    li:not(:last-of-type) > label::before {
      margin-left: 2px;
      margin-right: .5em;
      content: "├";
      display: inline-block;
      width: 1em;
      height: 1em;
      color: $dllNavy20;
    }

    li:last-of-type > label::before  {
      margin-right: .6em;
      content: "└";
      display: inline-block;
      width: 1em;
      height: 1em;
      color: $dllNavy20;
    }
  }
  //3層目
  ul >li ul >li ul  {
    li > label {
      margin-left: 20px;
    }
  }
  //4層目
  ul >li ul >li ul > li ul  {
    li > label {
      margin-left: 30px;
    }
  }
}

/*
タグ

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/tag.pug
+c-tags

Styleguide 12.6
*/

.c-tags {
  margin-bottom: 10px;
}
.c-tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 5px 10px;
}
.c-tag--black {
  border: 1px solid $black40;
  color: $mineShaft;
  :hover {
    color: $mineShaft;
  }
  a,i {
    color: $mineShaft;
    :hover {
      color: $mineShaft;
    }
  }
}
.c-tag--blue {
  border: 1px solid $lochmara;
  color: $lochmara;
  &:hover {
    color: $lochmara;
  }
  a,i {
    color: $lochmara;
    &:hover {
      color: $lochmara;
    }
  }
}

/*
サブアクションボタン

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
a.c-subAction(href='#')
  i.fa.fa-plus-square-o
  span.c-subAction_text すべてのタグを表示

Styleguide 12.7
*/

.c-subAction {
  display: block;
  margin-bottom: 15px;
  color: #333;
  &_text {
    margin-left: 5px;
    font-weight: bold;
  }
}

/*
定義リスト

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
+b.DL.c-definitionList
  +e.DT.term
    i.fa.fa-flag
    span 登録日
  +e.DD.description 2017/11/09
+b.DL.c-definitionList
  +e.DT.term
    i.fa.fa-refresh
    span 最終更新日
  +e.DD.description 2017/11/12
+b.DL.c-definitionList
  +e.DT.term
    i.fa.fa-user
    span 最終更新者
  +e.DD.description user_name

Styleguide 12.8
*/
.c-definitionList {
  &__term {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: normal;
    &::after {
      display: inline-block;
      content: ":";
    }
    i {
      margin-right: .5em;
    }
  }
  &__description {
    display: inline-block;
  }
}


/*
パンくずリスト

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
.c-breadcrumbs
  a(href="") すべてのカテゴリ
  a カテゴリA

Styleguide 12.9
*/
.c-breadcrumbs {
  a:not(:last-of-type) {
    font-size: 14px;
    font-weight: bold;
    color: $blue;

    &:hover {
      text-decoration: none;
      opacity: .5;
    }
    &:after {
      content: ">";
      display: inline-block;
      margin: 0 .5em;
      color: $mineShaft;
      font-weight: normal;
    }
  }
  a:last-of-type {
    font-size: 14px;
    font-weight: bold;
    color: $mineShaft;

  }
}

/*
カテゴリ管理テーブル

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/table.pug
+c-sortTable--category

Styleguide 12.10
*/
.c-sortTable {
  width: 100%;
  display: block;
  &__item {
    display: table;
    padding: 0 15px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
  }
  &__item:not(:first-of-type) {
    border-top: 1px solid #ccc;
  }
  &__itemForm {
    display: table-cell;
    vertical-align: middle;
    min-width: 500px;
    color: #ccc;
    cursor: pointer;
    .c-form input {
      margin-bottom: 0;
    }
  }
  &__itemNob {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    color: #ccc;
    cursor: pointer;
  }
  &__itemCategory {
    display: table-cell;
    vertical-align: middle;
    a {
      text-decoration: none;
      color: $blue;
    }
    :hover {
      opacity: .5;
    }
  }
  &__itemAction {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    min-width: 200px;
    color: black;
    font-size: 20px;
  }
  &__itemActionBtn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: $navy70;
    &:hover {
      background: $black05;
    }
  }
  &__itemActionBtn:not(:last-of-type) {
    margin-right: 10px;
  }
  &__itemAction--stopped {
    color: #ccc;
  }
}

/*
カテゴリ(カテゴリ管理)

タブサイズは `regular` `small` の2種類定義されています。
選択中のタブ`.c-tab__item`に`.is-active`クラスを付与することでアクティブ状態のスタイルを適用することが出来ます。

Markup:
include /assets/tmpl/components/category.pug
+c-categoryRegister

Styleguide 12.11
*/
.c-category {
  margin-bottom: 10px;
  border-radius: 4px;
  //1層目
  & > ul > li {
    &::before {
      content: "\f196";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;

    }
  }

  & > ul > li.is-active {
    &::before {
      content: "\f147";
      display: inline-block;
      margin-right: .5em;
      font-family: FontAwesome;
      font-size: 16px;
    }
  }
  //2層目以降
  ul >li > ul {
    li > label {
      margin-left: 10px;
    }
    li:not(:last-of-type) > label::before {
      margin-left: 2px;
      margin-right: .5em;
      content: "├";
      display: inline-block;
      width: 1em;
      height: 1em;
      color: $dllNavy20;
    }

    li:last-of-type > label::before  {
      margin-right: .6em;
      content: "└";
      display: inline-block;
      width: 1em;
      height: 1em;
      color: $dllNavy20;
    }
  }
  //3層目
  ul >li ul >li ul  {
    li > label {
      margin-left: 20px;
    }
  }
  //4層目
  ul >li ul >li ul > li ul  {
    li > label {
      margin-left: 30px;
    }
  }
}
