extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title 受注一覧
            +e.SPAN.subTitle 受注管理

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row
                .col-12
                    form.c-form
                        label 受注ID・注文者名・注文者会社名・メールアドレス・電話番号
                        .c-form__text
                            input(type="text")
            .row.mb-3
                form.c-form
                    label.col-12 対応状況
                    .c-form__checkbox
                        .ml-5
                            input(type='checkbox', name='filter', value='open', checked='checked')
                            span 新規受付
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span 決済処理中
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span 入金待ち
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span 入金済み
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span キャンセル
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span 取り寄せ中
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span 発送済み
                    .c-form__checkbox
                        .ml-2
                            input(type='checkbox', name='filter', value='open')
                            span 購入処理中
            .row
                .col-12
                    include /assets/tmpl/components/subAction.pug
                    +c-subAction("詳細検索","is-active")
        +b.c-subContents
            .row
                .col-6
                    .mb-4
                        label 注文者名
                        form.c-form
                            .c-form__text
                                input(type="text")
                .col-6
                    .mb-4
                        .col-12
                            label 性別
                        .c-form__checkbox
                            .ml-5
                                input(type='checkbox', name='filter', value='open')
                                span 男性
                        .c-form__checkbox
                            .ml-2
                                input(type='checkbox', name='filter', value='open')
                                span 女性
            .row
                .col-6
                    .mb-4
                        label 注文者名（フリガナ）
                        form.c-form
                            .c-form__text
                                input(type="text")
                .col-6
                    .mb-4
                        .col-12
                            label 支払方法
                        .c-form__checkbox
                            .ml-5
                                input(type='checkbox', name='filter', value='open')
                                span 郵便振替
                        .c-form__checkbox
                            .ml-2
                                input(type='checkbox', name='filter', value='open')
                                span 現金書留
                        .c-form__checkbox
                            .ml-2
                                input(type='checkbox', name='filter', value='open')
                                span 銀行振込
                        .c-form__checkbox
                            .ml-2
                                input(type='checkbox', name='filter', value='open')
                                span 代金引換
            .row
                .col-6
                    .mb-4
                        label 注文者会社名
                        form.c-form
                            .c-form__text
                                input(type="text")
                .col-6
                    .mb-4
                        .col-12
                            label 受注日
                        form.c-form--inline
                            .c-form__date--regular.ml-3
                                input(type='date', placeholder='2000/01/01')
                            span.c-form__sign.ml-2 〜
                            .c-form__date--regular.ml-2
                                input(type='date', placeholder='2000/01/01')
            .row
                .col-6
                    .mb-2
                        label 注文者会社名
                        form.c-form
                            .c-form__text
                                input(type="text")
                .col-6
                    .mb-2
                        .col-12
                            label 受注日
                        form.c-form--inline
                            .c-form__date--regular.ml-3
                                input(type='date', placeholder='2000/01/01')
                            span.c-form__sign.ml-2 〜
                            .c-form__date--regular.ml-2
                                input(type='date', placeholder='2000/01/01')
            .row
                .col-6
                    .mb-2
                        label メールアドレス
                        form.c-form
                            .c-form__text
                                input(type="text")
                .col-6
                    .mb-2
                        .col-12
                            label 受注ID
                        form.c-form--inline
                            .c-form__date--regular.ml-3
                                input(type='date', placeholder='2000/01/01')
                            span.c-form__sign.ml-2 〜
                            .c-form__date--regular.ml-2
                                input(type='date', placeholder='2000/01/01')
            .row
                .col-6
                    .mb-2
                        label 電話番号
                        form.c-form
                            .c-form__text
                                input(type="text")
                .col-6
                    .mb-2
                        .col-12
                            label 受注ID
                        form.c-form--inline
                            .c-form__text--regular.ml-3
                                input(type='text')
                            span.c-form__sign.ml-2 〜
                            .c-form__text--regular.ml-2
                                input(type='text')
            .row
                .col-6
                .col-6
                    .mb-4.ml-3
                        label 購入商品名
                        form.c-form
                            .c-form__text
                                input(type="text")
            .row
                .col-12
                    .text-center
                        button.c-button--regular.c-button--normal 検索条件クリア
        +e.contents
            .row
                .mb-4
                    .col-12
                        a.c-button--regular.c-button--conversion(href='') 検索
            .row
                .col-7
                    label 一括操作
                    button.c-button--regular.c-button--normal.ml-2 メールする
                    button.c-button--regular.c-button--normal.ml-2 帳票出力
                    button.c-button--regular.c-button--delete.ml-2 削除
                    form.c-form--inline.ml-2
                        .c-form__select--small
                            select
                                option 対応状況の変更
                    button.c-button--regular.c-button--normal 決定
                .col-5
                    .text-left
                        form.c-form--inline
                            .c-form__select--small
                                select
                                    option 10件
                        .c-tab--regular
                            .c-tab__item
                                i.fa.fa-cloud-download
                                span CSVダウンロード
                            .c-tab__item
                                i.fa.fa-cog
                                span CSV出力設定
    .c-block
        // TODO: 修正が必要
        .c-block__contents--noPadding
            table.c-customerTable
                thead.c-customerTable__tableHeader
                    th
                        input(type='checkbox', name='filter', value='open')
                    th 受注日時
                    th 注文番号
                    th お名前
                    th 支払方法
                    th 購入金額（円）
                    th 出荷番号
                    th 対応状況
                    th メモ／問合せ
                    th &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black 新規受付
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12432
                    td
                        .c-tags
                            span.c-tag.c-tag--black 入金待ち
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black キャンセル
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 15342
                    td
                        .c-tags
                            span.c-tag.c-tag--black 入金済み
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black 発送済み
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black 取り寄せ中
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') -
                    td
                        .c-tags
                            span.c-tag.c-tag--black 購入処理中
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black 決済処理中
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black 発送済み
                    td &nbsp;
                    td &nbsp;
                tr
                    td
                        input(type='checkbox', name='filter', value='open')
                    td 2017/09/13
                        br
                        | 21:23
                    td
                        a(href='#') 127645
                    td 山田はなこ
                    td 郵便振替
                    td 53,920
                    td
                        a(href='#') 12345
                        br
                        a(href='#') 12346
                    td
                        .c-tags
                            span.c-tag.c-tag--black 発送済み
                    td &nbsp;
                    td &nbsp;
            include /assets/tmpl/components/pagination.pug
            +c-pagenation