extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title ホーム

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            span.card-title 設定完了
        .card-body.pt-0.pr-0.pl-0.text-center
            i.fa.fa-check-circle-o.fa-5x.p-3.text-success
            p.h2 おめでとうございます
            p あなたのショップの基本設定が終わりました！
                br
                | ひきつづきEC-CUBEをお楽しみください！
            .row
                .col.text-center.align-middle
                    button(type="button").btn.btn-primary.mr-2 この表示を消す
                    a(href="/").btn.btn-outline-dark 課題を再表示
    .row
        .col-4.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        a(href="/order/master")
                            span.card-title 受注状況
                .card-body.p-0
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 新規受付
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-money.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 入金待ち
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 24
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-check.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 入金済み
                            .col-auto.text-center.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-plane.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/order/master")
                                    span.align-middle 取寄せ中
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 24
        .col-8.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title 売上状況
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
                .card-body
                    .row
                        .col.text-center
                            .btn-group(data-toggle='buttons')
                                label.btn.btn-outline-secondary.px-5.active
                                    input#option1(type='radio', name='options', autocomplete='off', checked='')
                                    |  日別
                                label.btn.btn-outline-secondary.px-5
                                    input#option2(type='radio', name='options', autocomplete='off')
                                    |  週別
                                label.btn.btn-outline-secondary.px-5
                                    input#option3(type='radio', name='options', autocomplete='off')
                                    |  月別
    .row
        .col.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title ショップ状況
                        i.fa.fa-question-circle.fa-lg.ml-1(aria-hidden='true')
                .card-body.p-0
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-inbox.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/product/master")
                                    span.align-middle 在庫切れ商品数
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 13
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-exclamation-circle.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/product/master")
                                    span.align-middle 取扱商品数
                            .col-auto.text-right.align-middle
                                span.h4.align-middle.font-weight-normal 263
                    .d-block.p-3.border.border-top-0.border-left-0.border-right-0
                        .row.align-items-center
                            .col-2.align-middle.text-center
                                i.fa.fa-cubes.fa-2x.text-secondary(aria-hidden='true')
                            .col.p-0
                                a(href="/customer/master")
                                    span.align-middle 会員数
                            .col-auto.text-check.align-middle
                                span.h4.align-middle.font-weight-normal 89
        .col.mb-4
            .card.rounded.border-0.h-100
                .card-header
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span.card-title お知らせ
                .card-body.p-0
                    .
                        <iframe name="information" class="link_list_wrap" src="https://www.ec-cube.net/info/3/" style="width:100%; border:0; min-height:320px;"></iframe>
