extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("会員マスター","会員管理")

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row.justify-content-start
                .col-6
                    form.mb-2
                        label.col-form-label 会員ID・メールアドレス・お名前
                        input.form-control(type='text')
                    .d-inline-block.mb-3(data-toggle="collapse" href="#searchDetail" aria-expanded="false" aria-controls="searchDetail")
                        i.fa.fa-plus-square-o.font-weight-bold.mr-1
                        span.font-weight-bold 詳細検索
        +b.c-subContents.collapse(id="searchDetail").ec-collapse
            .row.mb-2
                .col
                    form.form-row
                        .col-12
                            p.col-form-label 会員種別
                            label.form-check-label.mr-3
                                input.form-check-input(type='checkbox', value='')
                                | 仮会員
                            label.form-check-label.mr-3
                                input.form-check-input(type='checkbox', value='')
                                | 本会員
                .col
                    form
                        label 購入商品名
                        input(type="text").form-control
            .row.mb-2
                .col
                    form.form-row
                        .col-12
                            p.col-form-label 性別
                            label.form-check-label.mr-3
                                input.form-check-input(type='checkbox', value='')
                                | 男性
                            label.form-check-label.mr-3
                                input.form-check-input(type='checkbox', value='')
                                | 女性
                .col
                    form
                        label 購入金額
                        .form-row.align-items-center
                            .col
                                input.form-control(type='text')
                            .col-auto
                                span 〜
                            .col
                                input.form-control(type='text')
            .row.mb-2
                .col
                    form
                        label 誕生月
                        .row
                            .col-5
                                select.form-control
                                    option 選んでください
                                    option ...
                            .col-7
                .col
                    form
                        label 購入回数
                        .form-row.align-items-center
                            .col
                                input.form-control(type='text')
                            .col-auto
                                span 〜
                            .col
                                input.form-control(type='text')
            .row.mb-2
                .col
                    form
                        label 誕生日
                        .form-row.align-items-center
                            .col
                                input.form-control(type='date', value='2000-01-01')
                            .col-auto.text-center
                                span 〜
                            .col
                                input.form-control(type='date', value='2000-01-01')
                .col
                    form
                        label 登録日
                        .form-row.align-items-center
                            .col
                                input.form-control(type='date', value='2000-01-01')
                            .col-auto.text-center
                                span 〜
                            .col
                                input.form-control(type='date', value='2000-01-01')
            .row.mb-2
                .col
                    form
                        label 都道府県
                        .row
                            .col-5
                                select.form-control
                                    option 選んでください
                                    option ...
                            .col-7
                .col
                    form
                        label 更新日
                        .form-row.align-items-center
                            .col
                                input.form-control(type='date', value='2000-01-01')
                            .col-auto.text-center
                                span 〜
                            .col
                                input.form-control(type='date', value='2000-01-01')
            .row.mb-4
                .col
                    form.mb-3
                        label 電話番号
                        input(type="text").form-control
                .col
                    form
                        label 最終購入日
                        .form-row.align-items-center
                            .col
                                input.form-control(type='date', value='2000-01-01')
                            .col-auto.text-center
                                span 〜
                            .col
                                input.form-control(type='date', value='2000-01-01')
            .d-block.text-center
                button(type="button").btn.btn-ec-regular 検索条件クリア
        +e.contents.mb-5
            a(href="/customer/master/mismatch").btn.btn-ec-conversion.px-5 検索
            span.font-weight-bold.ml-2 検索結果：56件が該当しました
block primaryContents
    .row.justify-content-between.mb-2
        .col-6
        .col-5.text-right
            .d-inline-block.mr-2
                form
                    select.custom-select
                        option(selected='') 10件
                        option ...
            .d-inline-block
                .btn-group(role='group')
                    button.btn.btn-ec-regular(type='button')
                        i.fa.fa-cloud-download.mr-1.text-secondary
                        span CSVダウンロード
                    button.btn.btn-ec-regular(type='button')
                        i.fa.fa-cog.mr-1.text-secondary
                        span CSV出力設定
    .card.rounded.border-0.mb-4
        .card-body.p-0
            table.table
                thead
                    th.border-top-0.pt-2.pb-3.pl-3 会員ID
                    th.border-top-0.pt-2.pb-3 会員名
                    th.border-top-0.pt-2.pb-3 電話番号
                    th.border-top-0.pt-2.pb-3 メールアドレス
                    th.border-top-0.pt-2.pb-3 &nbsp;
                    th.border-top-0.pt-2.pb-3.pr-3 &nbsp;
                - for (var x = 0; x < 10; x++)
                tr
                    td.align-middle.pl-3 1
                    td.align-middle
                        a(href='/customer/register/') 山田 はなこ
                    td.align-middle 06-6666-6666
                    td.align-middle witchdoktor@gmail.com
                    td.align-middle
                    td.align-middle.pr-3
                        .row
                            .col.text-right(data-toggle="tooltip" data-placement="top" title="削除")
                                a.btn.btn-ec-actionIcon
                                    i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
            .row.justify-content-md-center.mb-4
                ul.pagination
                    li.page-item
                        a.page-link(href='#') Previous
                    li.page-item.active
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') Next