extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("カテゴリCSV登録","商品管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                span CSVファイルをアップロード
                i.fa.fa-question-circle.fa-lg.fa-lg.ml-1
        .card-body
            .row
                .col-2
                    span CSVファイル選択
                .col
                    form.mb-2
                        a(onclick="$('#fileForm').click()").btn.btn-ec-regular.mr-2 ファイルを選択
                        span 選択されていません
                        input#fileForm.d-none(type="file")
                    button(type="submit").btn.btn-ec-conversion 一括登録を実行
    .card.rounded.border-0.mb-4
        .card-header
            .row.justify-content-between
                .col-6
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span.align-middle カテゴリ登録CSVファイルフォーマット
                        i.fa.fa-question-circle.fa-lg.fa-lg.ml-1
                .col-4.text-right
                    button.btn.btn-ec-regular 雛形ファイルダウンロード
        .card-body
            table.table.table-striped.table-bordered
                tbody
                    tr
                        th.w-25.align-middle.table-ec-lightGray カテゴリID
                        td.align-middle 新規登録時は未設定
                            br
                            | 既存商品の更新は商品IDを設定
                    tr
                        th.w-25.align-middle.table-ec-lightGray カテゴリ名
                            span.badge.badge-primary.ml-1 必須
                        td.align-middle
                    tr
                        th.w-25.align-middle.table-ec-lightGray 親カテゴリID
                        td.align-middle
