extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    include /assets/tmpl/components/pageTitle
    +c-pageTitle("規格管理","商品管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col
                    span.card-title 基本設定
        .card-body
            .row.mb-2
                .col-3
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span 表示名
                        i.fa.fa-question-circle.fa-lg.ml-1
                        span.badge.badge-primary.ml-1 必須
                .col-9
                    form
                        input(type="text").form-control
            .row.mb-2
                .col-3
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span 管理名
                        i.fa.fa-question-circle.fa-lg.ml-1
                        span.badge.badge-primary.ml-1 必須
                .col-9
                    form
                        input(type="text").form-control
    .card.rounded.border-0.mb-4
        .card-header
            span.card-title 分類設定
        .card-body.p-0
            include /assets/tmpl/components/table
            +c-sortTable("靴サイズ［表示名：サイズ］（4）","規格B［表示名：サイズ］（3）","規格C［表示名：サイズ］（12）")
    p 項目の順番はドラッグ＆ドロップでも変更可能です。