extends /assets/tmpl/moc/layout/_layout-2col
block pageTitle
    include /assets/tmpl/components/pageTitle
    +c-pageTitle("規格管理","商品管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col
                    span.card-title 基本設定
        .card-body
            .row.mb-2
                .col-auto
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span 表示名
                .col-auto
                    span 靴サイズ
            .row.mb-2
                .col-auto
                    .d-inline-block(data-toggle="tooltip" data-placement="top" title="Tooltip")
                        span 管理名
                .col-auto
                    span サイズ
    .card.rounded.border-0.mb-4
        .card-header
            span.card-title 分類設定
        .card-body.p-0
            .card.rounded.border-0.mb-2
                ul.list-group.list-group-flush
                    li.list-group-item
                        form.form-row
                            .col-auto
                                input(type="text").form-control
                            .col-auto
                                button(type="submit").btn.btn-ec-regular 新規作成
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a(href="/product/standard/detail") 100cm
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        form.form-row
                            .col-auto.d-flex.align-items-center
                                input(type="text" placeholder="分類名を入力").form-control
                            .col-auto.d-flex.align-items-center
                                button(type="submit").btn.btn-ec-conversion 決定
                            .col-auto.d-flex.align-items-center
                                button(type="submit").btn.btn-ec-sub キャンセル
                            .col.text-right.justify-content-end
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a(href="/product/standard/detail") 120cm
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a(href="/product/standard/detail") 130cm
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-3(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
    p 項目の順番はドラッグ＆ドロップでも変更可能です。