extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("タグ管理","商品管理")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-body.p-0
            .card.rounded.border-0.mb-2
                ul.list-group.list-group-flush
                    li.list-group-item
                        form.form-row
                            .col-auto.d-flex.align-items-center
                                input(type="text").form-control
                            .col-auto.d-flex.align-items-center
                                a(tabindex="0").btn.btn-ec-regular 新規作成
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a タグA
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a タグB
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        form.form-row
                            .col-auto.d-flex.align-items-center
                                input(type="text").form-control
                            .col-auto.d-flex.align-items-center
                                a(tabindex="0").btn.btn-ec-conversion 決定
                            .col-auto.d-flex.align-items-center
                                a(tabindex="0").btn.btn-ec-sub キャンセル
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a タグC
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-toggle="tooltip" data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
    p 項目の順番はドラッグ＆ドロップでも変更可能です。