extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("タグ管理","商品管理")

block primaryContents
    .c-block
        .c-block__contents--noPaddingAll
            include /assets/tmpl/components/table.pug
            +c-sortTable("タグA","タグB","タグC")
    p 項目の順番はドラッグ＆ドロップでも変更可能です。
