extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("商品マスター","商品管理")

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row.justify-content-start
                .col-6
                    form.mb-2
                        label.col-form-label 商品名・商品ID・商品コード
                        input.form-control(type='text')
                    .d-inline-block.mb-3(data-toggle="collapse" href="#commentList" aria-expanded="false" aria-controls="commentList")
                        i.fa.fa-plus-square-o.font-weight-bold.mr-1
                        span.font-weight-bold 一覧コメントを追加

        +b.c-subContents.collapse(id="commentList").show
            .row
                .col-6
                    form.form-row.mb-2
                        .col-6
                            label.col-form-label カテゴリ
                            select.form-control
                                option 選んでください
                                option ...
                    form.form-row.mb-2
                        .col-12
                            p.col-form-label フィルタ
                            label.form-check-label.mr-3
                                input.form-check-input(type='checkbox', value='')
                                | 公開
                            label.form-check-label.mr-3
                                input.form-check-input(type='checkbox', value='')
                                | 非公開
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='')
                                | 在庫切れ
                .col-6
                    form.mb-2
                        label.col-form-label(data-toggle="tooltip" data-placement="top" title="Tooltip")
                            | 登録日
                            i.fa.fa-question-circle.fa-lg.ml-1
                        .form-row.align-items-center
                            .col
                                input.form-control(type='date', value='2000-01-01')
                            .col-auto.text-center
                                span 〜
                            .col
                                input.form-control(type='date', value='2000-01-01')

                    form.mb-2
                        label.col-form-label
                            | 更新日
                        .form-row.align-items-center
                            .col
                                input.form-control(type='date', value='2000-01-01')
                            .col-auto
                                span 〜
                            .col
                                input.form-control(type='date', value='2000-01-01')
        +e.contents.mb-5
            button.btn.btn-primary.px-5(type="button") 検索

block primaryContents
    .row.justify-content-between.mb-2
        .col-6
            label.mr-2 一括操作
            .btn-group(role='group').mr-2
                button.btn.btn-light.border.border-dark(type='button')
                    span 公開
                button.btn.btn-light.border.border-dark(type='button')
                    span 非公開
            button.btn.btn-light.border.border-dark.mr-2 廃止
            button.btn.btn-danger 完全に削除

        .col-5.text-right
            .d-inline-block.mr-2
                form
                    select.custom-select
                        option(selected='') 10件
                        option ...
            .d-inline-block
                .btn-group(role='group')
                    button.btn.btn-light.border.border-dark(type='button')
                        i.fa.fa-cloud-download.mr-1
                        span CSVダウンロード
                    button.btn.btn-light.border.border-dark(type='button')
                        i.fa.fa-cog.mr-1
                        span CSV出力設定

    .card.rounded.border-0.mb-4
        .card-body.p-0
            table.table.table-sm
                thead
                    tr
                        th.border-top-0
                            input(type='checkbox', name='filter', value='open')
                        th.border-top-0 ID
                        th.border-top-0 画像
                        th.border-top-0 商品名
                        th.border-top-0 コード
                        th.border-top-0 価格
                        th.border-top-0 在庫数
                        th.border-top-0 公開状態
                        th.border-top-0 登録日
                        th.border-top-0 更新日
                        th.border-top-0(colspan="3")
                tbody
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 34
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") ディナーフォーク
                        td.align-middle fork-01 ～ fork-09
                        td.align-middle 12,000
                        td.align-middle 2
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                                    #discontinuance.modal.fade(tabindex='-1', role='dialog', aria-labelledby='discontinuance', aria-hidden='true')
                                        .modal-dialog(role='document')
                                            .modal-content
                                                .modal-header
                                                    h5.modal-title.font-weight-bold 商品の取扱を停止します
                                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                        span(aria-hidden='true') ×
                                                .modal-body.text-left
                                                    p.text-left 商品は一覧（マスター）から削除されますが、これまでの取引等のデータから消えることはありません。この操作はあとから取り消すことができません。この商品を廃止しますか？
                                                .modal-footer
                                                    button.btn.btn-secondary(type='button', data-dismiss='modal') キャンセル
                                                    button(type='button').btn.btn-danger 取扱を停止
                    tr.table-ec-lightGray
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 33
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") ディナースプーン
                        td.align-middle sp-01 ～ sp-02
                        td.align-middle 12,000
                        td.align-middle 2
                        td.align-middle 非公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 1

                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") フライパン
                        td.align-middle fork01 他
                        td.align-middle 10,000〜
                        td.align-middle
                            button(type="button" data-toggle="modal" data-target="#standardConfirm").btn.page-link.text-dark.d-inline-block 規格確認
                            #standardConfirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='standardConfirm', aria-hidden='true')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            h5.modal-title パーコレーターの規格
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                        .modal-body
                                            table.table.table-striped
                                                thead.table-active
                                                    th 規格１
                                                    th 規格２
                                                    th 商品コード
                                                    th 在庫数
                                                    th 販売価格（円）
                                                tbody
                                                    - for (var x = 0; x < 8; x++)
                                                        tr
                                                            td プラチナ
                                                            td 100cm
                                                            td aa-001
                                                            td 4
                                                            td 10,000
                                                        tr
                                                            td プラチナ
                                                            td 130cm
                                                            td aa-002
                                                            td 8
                                                            td 10,000
                                                        tr
                                                            td シルバー
                                                            td 100cm
                                                            td aa-003
                                                            td 4
                                                            td 8,000
                                                        tr
                                                            td シルバー
                                                            td 130cm
                                                            td aa-004
                                                            td 6
                                                            td 8,000
                                        .modal-footer
                                            button.btn.btn-secondary(type='button', data-dismiss='modal') 戻る
                                            a(href="/product/register/standard").btn.btn-primary 規格の編集
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 31

                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") 泡立て器
                        td.align-middle awa01
                        td.align-middle 12,000
                        td.align-middle 12
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr.table-ec-lightGray
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 30

                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") ステンレス鍋100mm
                        td.align-middle nabe100
                        td.align-middle 12,000
                        td.align-middle 4
                        td.align-middle 非公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr.table-danger
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 29
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") セラミック包丁
                        td.align-middle sera12
                        td.align-middle 12,000
                        td.align-middle 0
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 28
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") たわし
                        td.align-middle tawa01
                        td.align-middle 12,000
                        td.align-middle 34
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 27
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") おろしがね特級
                        td.align-middle oroshi15
                        td.align-middle 12,000
                        td.align-middle 4
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 26
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") ステンレス水筒
                        td.align-middle suito-01 ～ suito-09
                        td.align-middle  12,000
                        td.align-middle 2
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
                    tr
                        td.align-middle
                            input(type='checkbox', name='filter', value='open')
                        td.align-middle 25
                        td.align-middle
                            a(href="/product/register")
                                img(src="http://via.placeholder.com/50x50")
                        td.align-middle
                            a(href="/product/register") ウォーターサーバ
                        td.align-middle ws1
                        td.align-middle 12,000
                        td.align-middle 5
                        td.align-middle 公開
                        td.align-middle 2017/01/12
                        td.align-middle 2017/07/12
                        td.align-middle(colspan="3")
                            .row
                                .col(data-toggle="tooltip" data-placement="top" title="表示").text-center
                                    a(href="https://demo3.ec-cube.net/products/detail/3" target="_blank"): i.fa.fa-eye.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="複製").text-center
                                    i.fa.fa-files-o.fa-lg.text-secondary(aria-hidden="true")
                                .col(data-toggle="tooltip" data-placement="top" title="廃止").text-center
                                    a(data-toggle="modal" data-target="#discontinuance")
                                        i.fa.fa-close.fa-lg.text-secondary(aria-hidden="true")
        .row.justify-content-md-center.mb-4
            .col-auto
                .btn-group.btn-group-lg
                    button.btn.btn-secondary(type='button') 1
                .btn-group.btn-group-lg
                    button.btn.btn-outline-secondary(type='button') 2
                .btn-group.btn-group-lg
                    button.btn.btn-outline-secondary(type='button') 3
                .btn-group.btn-group-lg
                    button.btn.btn-outline-secondary(type='button') 4
