extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title 商品マスター
            +e.SPAN.subTitle 商品管理

block outsideBlock
    +b.c-outsideBlock
        +e.contents
            .row
                .col-6
                    form
                        .row
                            label.col-12.col-form-label 商品名・商品ID・商品コード
                            .col-10
                                input.form-control(type='text')
                .col-6
            .row
                .col-12
                    .c-subAction.is-active
                        a.c-subAction__btn(href='#')
                            span 詳細検索
        +b.c-subContents
            .row
                .col-6
                    .mb-2
                        label カテゴリ
                        form
                            select.custom-select
                                option 選んでください
                                option ...
                    .mb-2
                        .row
                            form
                                .col-12
                                    label フィルタ
                                .col-12
                                    .form-check
                                        label.form-check-label.mr-2
                                            input.form-check-input(type='checkbox', value='')
                                            | 公開
                                        label.form-check-label.mr-2
                                            input.form-check-input(type='checkbox', value='')
                                            | 非公開
                                        label.form-check-label.mr-2
                                            input.form-check-input(type='checkbox', value='')
                                            | 在庫切れ
                .col-6
                    .row
                        .mb-2
                            .col-12
                                label 登録日
                                i.fa.fa-question-circle.c-toolTip__icon(aria-hidden="true")
                            .col-12
                                form
                                    .row
                                        .col-5.text-right
                                            input.form-control(type='date', value='2000-01-01')
                                        .col-2.text-center
                                            span 〜
                                        .col-5.text-left
                                            input.form-control(type='date', value='2000-01-01')
                        .mb-2
                            .col-12
                                label 更新日
                            .col-12
                                form
                                    .row
                                        .col-5.text-right
                                            input.form-control(type='date', value='2000-01-01')
                                        .col-2.text-center
                                            span 〜
                                        .col-5.text-left
                                            input.form-control(type='date', value='2000-01-01')
        +e.contents
            .row
                .mb-4
                    .col-12
                        a.btn.btn-primary.p-2.px-5(href='#', role='button') 検索
            .row.mb-2
                .col-7
                    .text-left
                            label.mr-2 一括操作
                            .btn-group.mr-2(data-toggle="buttons")
                                button.btn.page-link.text-dark.d-inline-block.px-4.py-2 公開
                                button.btn.page-link.text-dark.d-inline-block.px-3.py-2 非公開
                            button.btn.page-link.text-dark.d-inline-block.px-4.py-2.mr-2 廃止
                            button.btn.btn-danger.py-2.px-4.mr-2 完全に削除
                .col-5
                    .text-right
                        form
                            select.custom-select
                                option(selected='') 10件
                                option ...
                            .btn-group.mr-2(data-toggle="buttons")
                                button.btn.page-link.text-dark.d-inline-block.px-4.py-2
                                    i.fa.fa-cloud-download(aria-hidden="true")
                                    span CSVダウンロード
                                button.btn.page-link.text-dark.d-inline-block.px-5.py-2
                                    i.fa.fa-cog(aria-hidden="true")
                                    span CSV出力設定
        +e.contents
            +b.c-block
                table.table.table-hover
                    thead
                        tr
                            th
                                input(type='checkbox', name='filter', value='open')
                            th ID
                            th 画像
                            th 商品名
                            th コード
                            th 価格
                            th 在庫数
                            th 公開状態
                            th 登録日
                            th 更新日
                            th &nbsp;
                            th &nbsp;
                            th &nbsp;
                            th &nbsp;
                    tbody
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 34
                            td &nbsp;
                            td
                                a(href="#") ディナーフォーク
                            td fork-01 ～ fork-09
                            td  12,000
                            td 2
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 33
                            td &nbsp;
                            td
                                a(href="#") ディナースプーン
                            td sp-01 ～ sp-02
                            td  12,000
                            td 2
                            td 非公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 1
                            td &nbsp;
                            td
                                a(href="#") フライパン
                            td fork01 他
                            td  10,000〜
                            td
                                button.btn.page-link.text-dark.d-inline-block 規格確認
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 31
                            td &nbsp;
                            td
                                a(href="#") 泡立て器
                            td awa01
                            td  12,000
                            td 12
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 30
                            td &nbsp;
                            td
                                a(href="#") ステンレス鍋100mm
                            td nabe100
                            td  12,000
                            td 4
                            td 非公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 29
                            td &nbsp;
                            td
                                a(href="#") セラミック包丁
                            td sera12
                            td  12,000
                            td 0
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 28
                            td &nbsp;
                            td
                                a(href="#") たわし
                            td tawa01
                            td  12,000
                            td 34
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 27
                            td &nbsp;
                            td
                                a(href="#") おろしがね特級
                            td oroshi15
                            td  12,000
                            td 4
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 26
                            td &nbsp;
                            td
                                a(href="#") ステンレス水筒
                            td suito-01 ～ suito-09
                            td  12,000
                            td 2
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                        tr
                            td
                                input(type='checkbox', name='filter', value='open')
                            td 25
                            td &nbsp;
                            td
                                a(href="#") ウォーターサーバ
                            td ws1
                            td  12,000
                            td 5
                            td 公開
                            td 2017/01/12
                            td 2017/07/12
                            td &nbsp;
                            td
                                i.fa.fa-eye.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-files-o.fa-lg(aria-hidden="true")
                            td
                                i.fa.fa-close.fa-lg(aria-hidden="true")
                .row
                    .col-12
                        .my-4
                            nav(aria-label='Page navigation example')
                                ul.pagination.justify-content-center
                                    li.page-item
                                        a.page-link(href='#') 1
                                    li.page-item
                                        a.page-link(href='#') 2
                                    li.page-item
                                        a.page-link(href='#') 3
                                    li.page-item
                                        a.page-link(href='#') 4
