extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("配送方法登録・編集","基本情報設定")

block primaryContents
    .card.rounded.border-0.mb-4
        .card-header
            span 基本情報
        .card-body
            .row
                .col-3
                    span 配送業者名
                .col.mb-2
                    form
                        input(type="text").form-control
            .row
                .col-3
                    span 配送方法名称
                .col.mb-2
                    form
                        input(type="text").form-control
            .row
                .col-3
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span 伝票No.URL
                        i.fa.fa-question-circle.fa-lg.ml-1
                .col.mb-2
                    form
                        input(type="text").form-control
            .row
                .col-3
                    span 取扱商品種別
                .col.mb-2
                    form
                        select.form-control
                            option(value='') 商品種別B
    .card.rounded.border-0.mb-4
        .card-header
            span 取り扱う支払方法
        .card-body
            form
                .form-check.form-check-inline
                    input.form-check-input#check_postalTransfer(type='checkbox', value='')
                    label.form-check-label(for="check_postalTransfer") 郵便振替
                .form-check.form-check-inline
                    input.form-check-input#check_registeredMail(type='checkbox', value='')
                    label.form-check-label(for="check_registeredMail")  現金書留
                .form-check.form-check-inline
                    input.form-check-input#check_bankTransfer(type='checkbox', value='')
                    label.form-check-label(for="check_bankTransfer") 銀行振込
                .form-check.form-check-inline
                    input.form-check-input#check_cashOnDelivery(type='checkbox', value='')
                    label.form-check-label(for="check_cashOnDelivery")  代金引換
    .card.rounded.border-0.mb-2
        .card-header
            span お届け時間設定
        .card-body.p-0
            .card.rounded.border-0.mb-2
                ul.list-group.list-group-flush
                    li.list-group-item
                        form.form-row
                            .col-auto.d-flex.align-items-center
                                input(type="text").form-control
                            .col-auto.d-flex.align-items-center
                                button(type="submit").btn.btn-ec-regular 新規作成
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a [配送業者A] 配送業者A
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        .row.justify-content-around
                            .col-auto.d-flex.align-items-center
                                i.fa.fa-bars.text-ec-gray
                            .col.d-flex.align-items-center
                                a [配送業者B] 配送業者B
                            .col-auto.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary
                    li.list-group-item
                        .row.justify-content-around
                            .col-7.d-flex.align-items-center
                                form.form-row
                                    .col-auto.d-flex.align-items-center
                                        input(type="text" placeholder="配送方法名を入力").form-control
                                    .col-auto.d-flex.align-items-center
                                        button(type="submit").btn.btn-ec-conversion 決定
                                    .col-auto.d-flex.align-items-center
                                        button(type="submit").btn.btn-ec-sub キャンセル
                            .col-5.text-right
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="上へ移動"): i.fa.fa-arrow-up.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="下へ移動"): i.fa.fa-arrow-down.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="名前を編集"): i.fa.fa-pencil.fa-lg.text-secondary
                                a.btn.btn-ec-actionIcon.mr-2(href="" data-tooltip='tooltip' data-placement="top" title="削除"): i.fa.fa-close.fa-lg.text-secondary

    p.mb-4 項目の順番はドラッグ＆ドロップでも変更可能です。
    .card.rounded.border-0.mb-4
        .card-header
            span 都道府県別送料設定
        .card-body.p-0
            ul.list-group.list-group-flush
                li.list-group-item
                    .row.justify-content-start
                        .col-2
                            .d-inline-block.align-middle(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                                span.card-title 全国一律に設定
                                i.fa.fa-question-circle.fa-lg.ml-1
                        .col-3
                            .input-group
                                .input-group-prepend
                                    .input-group-text ￥
                                input.form-control(type='number')
                        .col-auto
                            button(type="button").btn.btn-ec-regular 各都道府県に適用
                li.list-group-item
                    .row.mb-2
                        .col
                            form.row
                                .col-auto
                                    label 北海道
                                .col.pl-0
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ￥
                                        input.form-control(type='number')
                        .col
                            form.row
                                .col-auto
                                    label 青森県
                                .col.pl-0
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ￥
                                        input.form-control(type='number')
                    .row.mb-2
                        .col
                            form.row
                                .col-auto
                                    label 岩手県
                                .col.pl-0
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ￥
                                        input.form-control(type='number')
                        .col
                            form.row
                                .col-auto
                                    label 秋田県
                                .col.pl-0
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text ￥
                                        input.form-control(type='number')
    .card.rounded.border-0.mb-4
        .card-header
            .row
                .col-8
                    .d-inline-block(data-tooltip='tooltip' data-placement="top" title="Tooltip")
                        span.card-title ショップ用メモ欄
                            i.fa.fa-question-circle.fa-lg.ml-1
                .col-4.text-right
                    a(data-toggle="collapse" href="#freeArea" aria-expanded="false" aria-controls="freeArea")
                        i.fa.fa-angle-up.fa-lg
        #freeArea.collapse.show.ec-cardCollapse
            .card-body
                form
                    textarea(rows="8").form-control
block conversionArea
    form
        +b.c-conversionArea
            +e.container
                .row.justify-content-between.align-items-center
                    .col-6
                        +e.leftBlockItem
                            a(href="/setting/basis/delivery").c-beseLink
                                i.fa.fa-backward(aria-hidden="true")
                                span 配送方法一覧
                    .col-6
                        .row.align-items-center.justify-content-end
                            .col-auto
                                button(type="submit").btn.btn-ec-conversion.px-5 登録