extends /assets/tmpl/moc/layout/_layout-2col.pug
block primaryContents
    .c-block
        .c-block__contents--noPadding
            include /assets/tmpl/components/table.pug
            +c-table--customer

            include /assets/tmpl/components/pagination.pug
            +c-pagenation