extends /assets/tmpl/moc/layout/_layout-2col.pug
block pageTitle
    include /assets/tmpl/components/pageTitle.pug
    +c-pageTitle("商品登録（規格設定）","商品管理")

block primaryContents
    +b.c-block
        +e.heading
            +e.titles
                span 商品名：フォーク
            +e.toggle
                button.btn.btn-danger.py-2.px-4 商品規格を初期化
        +e.contents
            .row
                .col-1
                    span 規格１
                .col-11
                    span 材質 [表示名：材質]
            .row
                .col-1
                    span 規格２
                .col-11
                    span サイズ [表示名：靴サイズ]

    +b.c-block
        +e.heading
            +e.titles
                span 9件の規格の組み合わせがあります
            +e.toggle
                button.btn.page-link.text-dark.d-inline-block.px-4.py-2
                        i.fa.fa-files-o(aria-hidden="true")
                        | &nbsp;一行目をすべての行に複製
        +b.c-horizontalForm
            table.table
                thead
                    th 登録
                    th 材質
                    th サイズ
                    th コード
                    th 在庫数
                    th 販売制限数
                    th 通常価格
                    th お届け可能日
                    th 商品種別
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text",size="5")
                    td
                        input.form-control(type="text")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
                tr
                    td
                        input(type="checkbox")
                    td プラチナ
                    td 130cm
                    td
                        input.form-control(type="text", size="5")
                    td
                        .row
                            .col-7
                                input.form-control(type="text", size="5")
                            .col-5.p-0
                                input(type="checkbox")
                                | &nbsp;無制限
                    td
                        input.form-control(type="text", size="5")
                    td
                        input.form-control(type="text", size="5")
                    td
                        select.custom-select
                            option 指定なし
                            option ...
                    td
                        select.custom-select
                            option 商品種別A
                            option ...
block conversionArea
    +b.c-conversionArea
        +e.container
            +e.leftBlock
                +e.leftBlockItem
                    a(href="").c-beseLink
                        i.fa.fa-backward(aria-hidden="true")
                        span 商品マスター
            +e.rightBlock
                +e.rightBlockItem
                    include /assets/tmpl/components/toggleSwitch.pug
                    +c-toggleSwitch
                +e.rightBlockItem
                    button.btn.btn-primary.px-5.py-2 更新